@charset "utf-8";
@font-face {
  font-family: 'Awesome';
  font-display: swap;
  src: url("/g/tpl/all/font/fontawesome-webfont.eot");
  src: url("/g/tpl/all/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/g/tpl/all/font/fontawesome-webfont.woff2") format("woff2"), url("/g/tpl/all/font/fontawesome-webfont.woff") format("woff"), url("/g/tpl/all/font/fontawesome-webfont.ttf") format("truetype"), url("/g/tpl/all/font/fontawesome-webfont.svg#Awesome") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Awesome';
    src: url("/g/tpl/all/font/fontawesome-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal; } }

.s3_button_small, .s3_button_large, .s3_pagelist_item_active {
  display: inline-block;
  text-decoration: none;
  color: #333;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2307692308em;
  -moz-border-radius: 0.2307692308em;
  -ms-border-radius: 0.2307692308em;
  -o-border-radius: 0.2307692308em;
  border-radius: 0.2307692308em;
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #dedede;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dedede));
  background-image: -o-linear-gradient(top, #f8f8f8 0%, #dedede 100%);
  background-image: -moz-linear-gradient(top, #f8f8f8 0%, #dedede 100%);
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #dedede 100%);
  background-image: -ms-linear-gradient(top, #f8f8f8 0%, #dedede 100%);
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #dedede 100%);
  -pie-background: linear-gradient(to bottom, #f8f8f8 0%, #dedede 100%); }
  .s3_button_small:hover, .s3_button_large:hover, .s3_pagelist_item_active:hover {
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #eee));
    background-image: -o-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background-image: -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background-image: -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background-image: linear-gradient(to bottom, #fcfcfc 0%, #eee 100%);
    -pie-background: linear-gradient(to bottom, #fcfcfc 0%, #eee 100%); }
  .s3_button_small:active, .s3_button_large:active, .s3_pagelist_item_active:active {
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #f2f2f2));
    background-image: -o-linear-gradient(top, #dedede 0%, #f2f2f2 100%);
    background-image: -moz-linear-gradient(top, #dedede 0%, #f2f2f2 100%);
    background-image: -webkit-linear-gradient(top, #dedede 0%, #f2f2f2 100%);
    background-image: -ms-linear-gradient(top, #dedede 0%, #f2f2f2 100%);
    background-image: linear-gradient(to bottom, #dedede 0%, #f2f2f2 100%);
    -pie-background: linear-gradient(to bottom, #dedede 0%, #f2f2f2 100%); }
  .s3_button_small:disabled, .s3_button_large:disabled, .s3_pagelist_item_active:disabled, .s3_button_small[disabled], .s3_button_large[disabled], .s3_pagelist_item_active[disabled] {
    opacity: 0.5;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #dedede;
    background-image: none;
    -pie-background: #dedede; }

.s3_button_small {
  padding: 0.3846153846em 0.9230769231em; }

.s3_button_large {
  padding: 0.5333333333em 1.0666666667em;
  font-size: 1.1538461538em;
  font-weight: bold; }

.s3_icon {
  display: inline-block;
  text-decoration: none;
  font-family: 'Awesome';
  font-weight: normal;
  font-style: normal;
  line-height: 1; }

.s3_table {
  display: table; }
  .s3_table .s3_table_row, .s3_table .s3_table_head {
    display: table-row; }
    .s3_table .s3_table_row .s3_table_ceil, .s3_table .s3_table_head .s3_table_ceil {
      display: table-cell; }

.s3_message {
  display: table;
  padding: 1em;
  margin: 1em 0;
  background-color: #f0e4c9;
  border: 1px solid #e1c893;
  color: #333;
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,.45), inset 0 1px 0 rgba(255,255,255,.75);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.45), inset 0 1px 0 rgba(255,255,255,.75);
  box-shadow: 0 2px 6px rgba(0,0,0,.45), inset 0 1px 0 rgba(255,255,255,.75); }
  .s3_message.s3_message_success {
    background-color: #80c080;
    border: 1px solid green;
    color: #fff; }
  .s3_message.s3_message_warning {
    background-color: #f0e4c9;
    border: 1px solid #e1c893;
    color: #333; }
  .s3_message.s3_message_error {
    background-color: #ff8080;
    border: 1px solid red;
    color: #fff; }

.s3_moderation_note {
  font-size: 0.8461538462em;
  color: red;
  margin: 1.6363636364em 0; }

.s3_comments_user {
  margin: 1.3846153846em 0; }

.s3_image_format_1 {
  min-width: 90px; }

.s3_image_format_2 {
  min-width: 150px; }

.s3_image_format_3 {
  min-width: 120px; }

.s3_image_format_4 {
  min-width: 120px; }

.s3_image_format_5 {
  min-width: 180px; }

.s3_post_date {
  color: #656565;
  font-size: 0.9230769231em; }

.s3_post_head {
  margin-bottom: 1.3846153846em; }

.s3_post_content {
  margin: 1.3846153846em 0; }
  .s3_post_content:after {
    clear: both;
    content: "";
    display: block; }
  .s3_post_content .s3_post_image {
    margin-right: 1.3846153846em;
    float: left;
    text-align: center; }
    .s3_post_content .s3_post_image img {
      border: 1px solid #999;
      visibility: visible;
      vertical-align: top; }

.s3_post .s3_post_image {
  margin-bottom: 1.3846153846em; }
  .s3_post .s3_post_tags {
    margin-bottom: 0.4615384615em; }
    .s3_post .s3_post_tags .s3_icon:before {
      content: "\f02c";
      font-size: 0.8461538462em;
      margin-right: 0.7692307692em; }
  .s3_post .s3_post_folders {
    margin-bottom: 0.4615384615em; }
    .s3_post .s3_post_folders .s3_icon:before {
      content: "\f07c";
      font-size: 0.8461538462em;
      margin-right: 0.7692307692em; }

.s3_posts_folders_list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .s3_posts_folders_list > li {
    display: inline-block;
    padding: 0;
    margin: 0 3% 1.3846153846em 0;
    max-width: 30%;
    vertical-align: top; }
    .s3_posts_folders_list > li > a {
      font-weight: bold; }
    .s3_posts_folders_list > li ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .s3_posts_folders_list > li ul li {
        margin: 0.6153846154em 0; }
        .s3_posts_folders_list > li ul li ul {
          margin-left: 1.3846153846em; }

.s3_posts_list_item .s3_post_title {
  margin: 0.3529411765em 0 1.0588235294em;
  font-size: 1.3076923077em; }
  .s3_posts_list_item .s3_post_text {
    overflow: hidden; }
    .s3_posts_list_item .s3_post_text p:first-child {
      margin-top: 0; }

.s3_comments_item {
  margin: 0; }
  .s3_comments_item .s3_anchor {
    float: right; }
    .s3_comments_item .s3_anchor .s3_icon:before {
      margin-left: 0.7692307692em;
      content: "\f13d";
      font-size: 0.8461538462em; }
  .s3_comments_item .s3_comment_date {
    font-size: 0.8461538462em;
    opacity: 0.8; }
  .s3_comments_item .s3_comment_author {
    font-size: 1.0769230769em; }
  .s3_comments_item .s3_comment_head {
    padding: 0.9230769231em 1.0769230769em;
    background-color: rgba(0, 0, 0, 0.2); }
    .s3_comments_item .s3_comment_head:after {
      display: block;
      clear: both;
      content: ""; }
  .s3_comments_item .s3_comment_content {
    margin: 0;
    padding: 1.1538461538em; }
  .s3_comments_item .s3_comment_reply {
    position: relative;
    margin-top: 1.3846153846em;
    padding: 1em;
    border: 1px solid rgba(119, 119, 119, 0.2);
    background-color: rgba(119, 119, 119, 0.2);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); }
    .s3_comments_item .s3_comment_reply:before, .s3_comments_item .s3_comment_reply:after {
      position: absolute;
      left: 20px;
      content: ""; }
    .s3_comments_item .s3_comment_reply:before {
      top: -8px;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 0 6px 7px 6px;
      border-bottom-color: rgba(119, 119, 119, 0.2); }
    .s3_comments_item .s3_comment_reply:after {
      top: -6px;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 0 6px 7px 6px;
      border-bottom-color: rgba(119, 119, 119, 0.2); }
    .s3_comments_item .s3_comment_reply .s3_comment_reply_head {
      padding-bottom: 0.6153846154em;
      border-bottom: 1px solid #7f7f7f; }
      .s3_comments_item .s3_comment_reply .s3_comment_reply_head:after {
        content: "";
        clear: both; }
    .s3_comments_item .s3_comment_reply .s3_comment_reply_content {
      margin: 0;
      padding-top: 0.6153846154em; }

.s3_files_list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  .s3_files_list .s3_table_ceil {
    padding: 0.7692307692em;
    vertical-align: middle; }
  .s3_files_list .s3_files_list_title {
    background: #dedede;
    font-size: 0.9230769231em;
    white-space: pre; }
  .s3_files_list .s3_files_list_item .s3_file_head {
    width: 100%;
    color: #999;
    font-size: 0.9230769231em; }
    .s3_files_list .s3_files_list_item .s3_file_head .s3_file_alternate_name {
      font-size: 1.2307692308em; }
    .s3_files_list .s3_files_list_item .s3_file_head .s3_file_name {
      display: block; }
    .s3_files_list .s3_files_list_item .s3_table_ceil {
      border-bottom: 1px solid #ccc; }
    .s3_files_list .s3_files_list_item .s3_file_size {
      text-align: right;
      white-space: pre;
      font-size: 1.0769230769em;
      font-weight: bold; }
    .s3_files_list .s3_files_list_item .s3_file_download {
      white-space: pre; }

.s3_search_result_total {
  margin: 1.9230769231em 0;
  padding: 0.3846153846em 0;
  border-bottom: 1px solid #cecece; }

.s3_search_result_list {
  margin: 0 0 0 1.5384615385em;
  padding: 0;
  list-style: none; }
  .s3_search_result_list .s3_search_result_list_item .s3_search_result_name {
    margin: 0.375em 0;
    font-size: 1.2307692308em; }
    .s3_search_result_list .s3_search_result_list_item .s3_search_result_name a {
      text-indent: -1.5em; }
    .s3_search_result_list .s3_search_result_list_item .s3_search_result_name .s3_icon:before {
      margin-right: 0.7692307692em;
      content: "\f178";
      font-size: 0.8461538462em; }
    .s3_search_result_list .s3_search_result_list_item .s3_search_result_url {
      color: #999;
      font-size: 0.9230769231em; }
    .s3_search_result_list .s3_search_result_list_item .s3_search_result_text {
      margin: 1.3846153846em 0; }

.s3_pagelist {
  margin: 1.3846153846em 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .s3_pagelist .s3_pagelist_item {
    display: inline-block;
    min-width: 2.1333333333em;
    min-height: 1.8666666667em;
    margin: 0 0.2em;
    vertical-align: middle;
    background-color: #fff;
    font-size: 1.1538461538em;
    line-height: 1.1538461538em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2307692308em;
    -moz-border-radius: 0.2307692308em;
    -ms-border-radius: 0.2307692308em;
    -o-border-radius: 0.2307692308em;
    border-radius: 0.2307692308em;
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4); }
    .s3_pagelist .s3_pagelist_item a, .s3_pagelist .s3_pagelist_item span {
      display: block;
      padding: 0.3333333333em;
      text-decoration: none;
      color: #333; }
    .s3_pagelist .s3_pagelist_item .s3_icon {
      font-size: 1.3333333333em;
      line-height: 1.3333333333em; }
    .s3_pagelist .s3_pagelist_item.s3_pagelist_item_prev a, .s3_pagelist .s3_pagelist_item.s3_pagelist_item_next a, .s3_pagelist .s3_pagelist_item.s3_pagelist_item_first a, .s3_pagelist .s3_pagelist_item.s3_pagelist_item_last a {
      padding: 0; }
    .s3_pagelist .s3_pagelist_item.s3_pagelist_item_prev .s3_icon:before {
      content: "\f104"; }
    .s3_pagelist .s3_pagelist_item.s3_pagelist_item_next .s3_icon:before {
      content: "\f105"; }
    .s3_pagelist .s3_pagelist_item.s3_pagelist_item_first .s3_icon:before {
      content: "\f100"; }
    .s3_pagelist .s3_pagelist_item.s3_pagelist_item_last .s3_icon:before {
      content: "\f101"; }
/* [+] s3_text_block */
.s3_text_block {
  margin: 2.3076923077em 0; }
/* [-] s3_text_block */
/* [+] s3_form */
.s3_tpl_anketa .s3_form {
  margin-top: 2.3076923077em; }

.s3_form .anketa-flash-upload div.flash {
  max-width: 100%;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.2307692308em;
  -moz-border-radius: 0.2307692308em;
  -ms-border-radius: 0.2307692308em;
  -o-border-radius: 0.2307692308em;
  border-radius: 0.2307692308em; }

.s3_form_item {
  margin: 0.7692307692em 0; }

.s3_required {
  color: red; }

.s3_form_field_title {
  margin-bottom: 0.3846153846em; }

.s3_form_field_type_text, .s3_form_field_type_password, .s3_form_field_type_textarea, .s3_form_field_type_select, .s3_form_item_type_captcha input[type=text] {
  max-width: 100%;
  padding: 0.3076923077em 0.7692307692em;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.2307692308em;
  -moz-border-radius: 0.2307692308em;
  -ms-border-radius: 0.2307692308em;
  -o-border-radius: 0.2307692308em;
  border-radius: 0.2307692308em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .s3_form_field_type_text.s3_form_field_error, .s3_form_field_type_password.s3_form_field_error, .s3_form_field_type_textarea.s3_form_field_error, .s3_form_field_type_select.s3_form_field_error, .s3_form_item_type_captcha input[type=text].s3_form_field_error {
    border-color: red; }
  .s3_form_field_type_text[disabled], .s3_form_field_type_password[disabled], .s3_form_field_type_textarea[disabled], .s3_form_field_type_select[disabled], .s3_form_item_type_captcha input[type=text][disabled] {
    background-color: #dedede;
    border-color: #dedede;
    resize: none; }

.s3_form_field_type_text, .s3_form_field_type_password, .s3_form_field_type_textarea {
  width: 32.3076923077em; }

.s3_form_field_type_select {
  min-width: 15.3846153846em; }

.s3_form_field_type_radio, .s3_form_field_type_checkbox {
  width: 1em;
  height: 1em;
  margin: 0 0.3846153846em 0 0;
  vertical-align: middle; }
  .s3_form_field_type_radio[disabled] + .s3_form_subitem_title, .s3_form_field_type_checkbox[disabled] + .s3_form_subitem_title {
    color: #dedede; }

.s3_form_item_type_calendar .s3_icon:before, .s3_form_item_type_calendar_interval .s3_icon:before {
  margin-left: 0.3846153846em;
  content: "\f073"; }

.s3_form_item_type_calendar .s3_form_field_type_text {
  width: 7em; }

.s3_form_item_type_calendar_interval .s3_form_subitem {
  display: inline-block;
  margin-right: 0.7692307692em; }
  .s3_form_item_type_calendar_interval .s3_form_field_type_text {
    width: 7em;
    margin-left: 0.3846153846em; }

.s3_form_item_type_captcha .mgCaptcha-block {
  display: inline-block;
  margin: 0 1em 0 0;
  vertical-align: middle; }
  .s3_form_item_type_captcha img:first-child {
    border: 1px solid #ccc; }
    .s3_form_item_type_captcha img + img {
      padding-left: 0.2307692308em;
      vertical-align: bottom; }
  .s3_form_item_type_captcha input[type=text] {
    width: 6.9230769231em; }
  .s3_form_item_type_captcha.s3_form_item_error input[type=text] {
    border-color: red; }

.s3_form_subitem {
  margin: 0.3846153846em 0; }

.s3_form_note {
  padding: 0.2307692308em 0.7692307692em 0; }

.s3_form_error {
  padding: 0 0.7692307692em;
  color: red; }
/* [-] s3_form */
/* [+] s3_tpl_authorization */
.s3_form_field_alias_birthday {
  width: 6em;
  min-width: 0; }
/* [-] s3_tpl_authorization */
/* [+] s3_tpl_login */
.s3_login_form {
  float: left;
  width: 15.3846153846em;
  margin-top: 0.3846153846em; }
  .s3_login_form .s3_form_item {
    margin: 0.4615384615em 0; }
  .s3_login_form .s3_form_field_type_text {
    width: 15.3846153846em; }
  .s3_login_form .s3_form_item_type_email {
    margin-top: 0; }
  .s3_login_form .s3_form_item_type_password:after {
    display: block;
    clear: both;
    content: ""; }
    .s3_login_form .s3_form_item_type_password .s3_form_field_content {
      display: inline-block;
      vertical-align: top; }
    .s3_login_form .s3_form_item_type_password .s3_form_field_type_text {
      width: 10em; }
  .s3_login_form .s3_form_item_button {
    float: right;
    margin: 0;
    vertical-align: top; }

.s3_registration_link {
  margin: 0.7692307692em 0; }

.s3_password_forgot {
  display: table;
  padding: 0.3846153846em 0 0 2.3076923077em;
  vertical-align: top; }
  .s3_password_forgot p {
    margin-top: 0; }

.s3_tpl_forgot_password .s3_form_item_type_button {
  margin-top: 1.5384615385em; }
/* [-] s3_tpl_login */
/* [+] s3_vote */
.s3_tpl_vote .s3_form_item_type_text {
  margin-top: 0.7692307692em; }
  .s3_tpl_vote .s3_form_field_type_text {
    width: 15.3846153846em; }
  .s3_tpl_vote .s3_form_item_type_button {
    margin-top: 1.5384615385em; }

.s3_votes_list {
  margin: 0;
  padding: 0;
  list-style: none; }

.s3_votes_list_item {
  margin: 1em 0;
  padding-left: 1.6153846154em;
  font-size: 1.0769230769em;
  font-weight: bold; }
  .s3_votes_list_item:before {
    position: absolute;
    margin-left: -1.6153846154em;
    content: '\2014';
    color: #08c;
    font-weight: normal; }

.s3_vote_variant_list {
  margin: 0;
  padding: 0 0 0 0.7692307692em;
  list-style: none; }

.s3_vote_results {
  margin: 0;
  padding: 0;
  list-style: none; }

.s3_vote_results_item {
  margin: 1.1538461538em 0;
  font-size: 1.0769230769em; }

.s3_vote_answer {
  margin-bottom: 0.3846153846em; }

.s3_vote_answer_progress {
  display: inline-block;
  height: 1.5384615385em;
  vertical-align: middle;
  background-color: #0089cd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bee4), color-stop(100%, #0089cd));
  background-image: -o-linear-gradient(top, #00bee4 0%, #0089cd 100%);
  background-image: -moz-linear-gradient(top, #00bee4 0%, #0089cd 100%);
  background-image: -webkit-linear-gradient(top, #00bee4 0%, #0089cd 100%);
  background-image: -ms-linear-gradient(top, #00bee4 0%, #0089cd 100%);
  background-image: linear-gradient(to bottom, #00bee4 0%, #0089cd 100%);
  -pie-background: linear-gradient(to bottom, #00bee4 0%, #0089cd 100%); }

.s3_vote_answer_count {
  margin-left: 0.7692307692em; }
  .s3_vote_answer_count[data-count="0"] {
    margin-left: 0; }
/* [-] s3_vote */
/* [+] s3_sitemap */
.s3_sitemap_list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  /* &:before {
   position: absolute;
   top: em(5px,$baseFontSize);
   bottom: em(5px,$baseFontSize);
   left: 0;
   content: '';
   border-left: 1px dotted $tplColor11;
   } */ }
  .s3_sitemap_list > .s3_sitemap_list_item {
    margin: 0.9230769231em 0; }
    .s3_sitemap_list > .s3_sitemap_list_item > a {
      font-size: 1.0769230769em; }
    .s3_sitemap_list > .s3_sitemap_list_item.s3_sitemap_list_item_last {
      /* &:before {
       margin-top: em(3px,$baseFontSize);
       }*/ }

.s3_sitemap_list_item {
  position: relative;
  margin: 0.6153846154em 0;
  padding-left: 1.3846153846em;
  /* &:before {
   position: absolute;
   top: em(5px,$baseFontSize);
   left: 0;
   width: em(8px,$baseFontSize);
   margin-top: -1px;
   border-top: 1px dotted $tplColor11;
   content: '';
   }
   &:after {
   position: absolute;
   top: em(18px,$baseFontSize);
   bottom: em(8px,$baseFontSize);
   left: em(18px,$baseFontSize);
   border-left: 1px dotted $tplColor11;
   content: '';
   } */ }

.s3_sitemap_sublist {
  margin: 0;
  padding: 0;
  list-style: none; }

.s3_sitemap_list_item_empty {
  padding-left: 1.3846153846em; }

.s3_sitemap_sublist_not_parent {
  position: relative;
  /* &:after {
   position: absolute;
   top: em(4px,$baseFontSize)*-1;
   left: 0;
   height: em(8px,$baseFontSize);
   border-left: 1px dotted $tplColor11;
   content: '';
   } */ }
/* [-] s3_sitemap */
/* [+] s3_gallery_list */
.s3_gallery_list {
  margin-bottom: 3.0769230769em; }

.s3_gallery_list_item {
  display: inline-block;
  margin: 1.1538461538em 1.3846153846em 0 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .s3_gallery_list_item:hover .s3_gallery_list_image {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.s3_gallery_list_image {
  display: block;
  padding: 0.7692307692em;
  text-align: center;
  border: 1px solid #ccc; }
  .s3_gallery_list_image img {
    display: inline-block;
    vertical-align: middle;
    border: 0 none !important; }
  .s3_gallery_list_image:after {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle; }

.s3_gallery_list_title {
  margin-top: 0.5384615385em;
  font-size: 0.9230769231em; }
/* [-] s3_gallery_list */
/* [+] s3_gallery_view */
.s3_gallery_view_image {
  padding: 0.7692307692em;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
  .s3_gallery_view_image img {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
/* [-] s3_gallery_view */
/************/
@media (min-width: 961px) {
  .block-39 .layout_115 {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  .block-48 {
    margin: 50px 40px auto 0; } }

.menu-left, .menu-left ul, .menu-left li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0; }

.menu-left {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  padding: 30px 15px;
  background: #fff;
  margin: 50px 0 0 0;
  font-family: Roboto, sans-serif;
  width: 280px;
  box-sizing: border-box; }

.menu-left ul ul {
  display: none;
  padding: 15px 20px; }

.menu-left ul ul ul {
  padding: 0;
  margin: 10px 0 0 15px; }

.menu-left > li > a {
  line-height: 0;
  font-size: 0; }

.menu-left > li > ul > li {
  text-align: left; }

.menu-left > li > ul > li > a {
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  line-height: normal;
  color: #000;
  text-decoration: none;
  border-radius: 50px; }

.menu-left > li > ul > li > a:hover, .menu-left > li > ul > li > a.over, .menu-left > li > ul > li.opened > a {
  background: #ffc400;
  color: #fff; }

.menu-left > li > ul > li.has > a {
  position: relative;
  padding-right: 20px; }

.menu-left > li > ul > li.has > a:after {
  position: absolute;
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background: url(../lmenu-mark.png) 50% 50% no-repeat;
  right: 10px;
  top: 50%;
  margin: -5px 0 0 0; }

.menu-left > li > ul > li.has > a:hover:after {
  background: url(../lmenu-mark-h.png) 50% 50% no-repeat; }

.menu-left > li > ul > li.has.opened > a:after {
  background: url(../lmenu-mark2-h.png) 50% 50% no-repeat; }

.menu-left ul li.opened > ul {
  display: block; }

.menu-left ul ul li {
  text-align: left;
  padding: 2px 0; }

.menu-left ul ul li a {
  display: block;
  padding: 8px 10px 8px 15px;
  font-size: 15px;
  line-height: normal;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid transparent; }

.menu-left ul ul li a:hover, .menu-left ul ul li a.over {
  background: #ffc400;
  color: #fff;
  border-radius: 20px; }

.menu-left ul ul li.opened > a {
  border-color: #ffc400; }

.menu-left ul ul ul li.active > a {
  font-weight: bold;
  border-color: transparent; }

.menu-left ul ul ul li a {
  display: block;
  padding: 5px 10px 5px 12px;
  font-size: 13px;
  line-height: normal;
  color: #000;
  text-decoration: none;
  border-radius: 0;
  border: 2px solid transparent; }

@media (max-width: 960px) {
  .menu-left {
    display: none; } }
/***************/
#sandbox_theme_panel_153661 {
  right: auto !important;
  width: 150px !important;
  top: 50% !important;
  left: 0; }

.panel-fixed {
  padding: 5px 10px 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .panel-fixed.fixed10 {
    opacity: 1;
    z-index: 10; }
  .panel-fixed-inner {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    border-radius: 200px;
    color: #000;
    padding: 20px 40px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .panel-fixed-1 {
    position: relative;
    padding: 0 0 0 50px;
    font-size: 23px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px; }
    .panel-fixed-1 a {
      color: #000;
      text-decoration: none; }
    .panel-fixed-1:after {
      position: absolute;
      left: 0;
      top: 50%;
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin: -12px 0 0 0;
      background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2224px%22%20height%3D%2224px%22%20%20viewBox%3D%220%200%2024%2024%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2023.23%2023.23%22%20id%3D%22svg-1%22%3E%3Cdefs%20id%3D%22defs-2%22%3E%3C%2Fdefs%3E%3Ctitle%20id%3D%22title-3%22%3ETel%3C%2Ftitle%3E%3Cg%20id%3D%22Sloy_2%22%20data-name%3D%22Sloy%202%22%3E%3Cg%20id%3D%22Layer_3%22%20data-name%3D%22Layer%203%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M22.18%2015.12a25.13%2025.13.0%200%200-5.49-1.77%201.75%201.75.0%200%200-.39.0%202.38%202.38.0%200%200-1.85.78l-1.08%201.73h-.1a1%201%200%200%201-.55-.21A24.53%2024.53.0%200%201%2010%2013.28a25%2025%200%200%201-2.36-2.77%201.34%201.34.0%200%201-.24-.6L9.14%208.79a2.41%202.41.0%200%200%20.74-2.28c-.5-1.9-1.19-3.87-1.73-5.38C7.83.28%206.62.0%206.08.0a1.81%201.81.0%200%200-.65.11A12.22%2012.22.0%200%200%201.19%202.88%2012.08%2012.08.0%200%200%20.22%204L0%204.23v.33a18.09%2018.09.0%200%200%205.62%2013l.07.08a18.26%2018.26.0%200%200%2012.63%205.63H19l.26-.2a12.58%2012.58.0%200%200%201.1-1%2012.22%2012.22.0%200%200%202.76-4.23A2.39%202.39.0%200%200%2022.18%2015.12zm-3.23%205.51c-.21.2-.43.41-.66.6a16.24%2016.24.0%200%201-11.14-5l-.1-.1A16.45%2016.45.0%200%201%202%205c.2-.24.4-.46.6-.66A10.26%2010.26.0%200%201%206.08%202a.89.89.0%200%201%20.27.06C6.87%203.49%207.49%205.3%207.93%206.94a1.26%201.26.0%200%201%200%20.28l-1.58%201a1.92%201.92.0%200%200-.86%201.29A2.83%202.83.0%200%200%206%2011.7a26.9%2026.9.0%200%200%202.56%203%2026.58%2026.58.0%200%200%203%202.54%202.45%202.45.0%200%200%203.47-.3l1-1.58h.23a23.49%2023.49.0%200%201%204.91%201.56c0%20.1.08.22.09.23A10.18%2010.18.0%200%201%2018.95%2020.63zM13.57%2010.45l4.92.32h.07a1%201%200%200%200%20.06-2L15.91%208.6l4.42-4.42a1%201%200%201%200-1.41-1.41L14.5%207.18l-.17-2.71a1%201%200%200%200-2%20.13l.31%204.92A1%201%200%200%200%2013.57%2010.45z%22%20fill%3D%22%230080FF%22%20fill-opacity%3D%221%22%20id%3D%22path-6%22%20type%3D%22solidColor%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E%3C%2Fsvg%3E") 50% 50% no-repeat; }
  .panel-fixed-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    position: relative;
    padding: 0 0 0 50px; }
    .panel-fixed-2:after {
      position: absolute;
      left: 0;
      top: 50%;
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin: -12px 0 0 0;
      background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2224px%22%20height%3D%2224px%22%20%20viewBox%3D%220%200%2024%2024%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022.58%2022.05%22%20id%3D%22svg-1%22%3E%3Cdefs%20id%3D%22defs-2%22%3E%3C%2Fdefs%3E%3Ctitle%20id%3D%22title-3%22%3Egps%3C%2Ftitle%3E%3Cg%20id%3D%22Sloy_2%22%20data-name%3D%22Sloy%202%22%3E%3Cg%20id%3D%22Layer_3%22%20data-name%3D%22Layer%203%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M22.57%201a1%201%200%200%200%200-.27v-.1a1%201%200%200%200-.18-.3A1%201%200%200%200%2022%20.11h-.09A1%201%200%200%200%2021.67.0h-.07a1%201%200%200%200-.29.0L.73%205.83A1%201%200%200%200%200%206.72v0a1%201%200%200%200%20.59%201l9.24%204.15%203.4%209.54a1%201%200%200%200%201.88.0L22.52%201.34a1%201%200%200%200%20.06-.29S22.57%201%2022.57%201zM3.92%207%2017.84%203.09l-7.4%206.84zM14.19%2018.12%2011.8%2011.4%2019.2%204.56z%22%20fill%3D%22%230080FF%22%20fill-opacity%3D%221%22%20id%3D%22path-6%22%20type%3D%22solidColor%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E%3C%2Fsvg%3E") 50% 50% no-repeat; }
  .panel-fixed-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    text-align: right; }
    .panel-fixed-3 a {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      background: #0080ff;
      border-radius: 50px;
      font-family: Roboto, sans-serif;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px; }

@media (max-width: 960px) {
  .panel-fixed.fixed10 {
    z-index: 10000;
    margin: 0 0 0 60px;
    padding: 0; }

  .noscroll .panel-fixed.fixed10 {
    z-index: 500; }

  .panel-fixed-inner {
    padding: 0 5px 0 0;
    height: 60px;
    box-shadow: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }

  .panel-fixed-3 a {
    font-size: 12px;
    padding: 10px; }

  .panel-fixed .panel-fixed-3 a.soc {
    background: transparent;
    padding: 0; }

  .panel-fixed .panel-fixed-3 span.wg-soc-icon img {
    opacity: 1; }

  .panel-fixed.fixed10 {
    margin: 0 0 0 58px; }

  .panel-fixed-3 a {
    font-size: 11px; } }

@media (max-width: 780px) {
  .panel-fixed-1 {
    font-size: 16px; } }

@media (max-width: 670px) {
  .panel-fixed-2 {
    display: none; } }

@media (max-width: 460px) {
  .panel-fixed-1 {
    display: none; } }
