.ground-section--dark {
	background: #f7f7f7;
	padding: 50px 0;
}

.landpage .grid {
    margin-left: auto;
}

.landpage-ground section.land-first {
	background: url(/d/landpage_bg-electroizmereniy1.jpg) no-repeat;
	background-size: cover;
    background-position: right;
}


.landpage-ground section.land-first.land-hero {
	background: url(/d/landpage_bg-otoplenie.jpg) no-repeat;
	background-size: cover;
    background-position: right;
}

.landpage .land-first h1 {
    font-size: 44px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.land-first-left h1 span {
    color: rgb(0 115 230);
}

.landpage .content-98 h2 {
    margin-bottom: 50px;
}

.landpage .content-98 h2 span {
    color: #0073e6;
}

.landpage .land-first-left .land-first-left__desc {
    color: #222c42;
    font-size: 21px;
    max-width: 600px;
    font-weight: 400;
    margin: 20px 0 40px;
}

.landpage .land-first-left .land-first-left__ul {
    columns: 2;
    max-width: 450px;
}

.landpage .land-first-left ul li {
    color: #222c42;
    margin: 0 0 14px 0;
}

.landpage .lf_buttons {
    margin: 60px 0 0;
}

.land-first-form {
    width: 400px;
    text-align: center;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    padding: 40px;
    border-radius: 10px;
    background: #f1f0f5;
    box-sizing: border-box;
}

.landpage .land-first-form p,
.heating-popup__form p {
	color: rgb(34, 44, 66);
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.land-first .form-114 .form-text input,
.heating-popup__form .form-114 .form-text input {
    padding: 2px 25px;
    border-radius: 10px;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #ffffff;
    background: #f1f0f5;
}

.land-first .form-114 .form-text,
.heating-popup__form .form-114 .form-text  {
    margin-bottom: 10px;
}

.land-first .form-114 .form-html .form-item__body,
.heating-popup__form .form-114 .form-html .form-item__body  {
    color: #a0a4b3;
    font-size: 13px;
    text-align: center;
    line-height: 1.3;
}

.land-first .form-114 .form-submit button,
.heating-popup__form .form-114 .form-submit button  {
    margin: 14px auto 0;
    display: block;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    transition: all 0.2s;
}

.land-first .form-114 .form-submit button:hover,
.heating-popup__form .form-114 .form-submit button:hover  {
    background: url("/t/images/images/Send.svg?1501560005145") right 50px top 50% / 25px no-repeat rgb(34, 44, 66);
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}

.ground-adv__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.ground-adv__block {
    text-align: center;
    width: 17%;
}

.ground-adv__head {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    color: #222c42;
}

.ground-adv__head span {
    font-weight: 600;
    color: #0073e6;
}

.ground-adv__block img {
    margin-bottom: 15px;
    max-width: 50px;
    filter: hue-rotate(18deg) brightness(0.25);
}

.act-column {
	columns: 2;
    gap: 50px;
    max-width: 90%;
    margin: auto;
}

.ground-cta {
    padding: 45px 0;
    margin: 60px 0 0;
    background: #002474 url(/d/wave-bg.png);
    background-position: 100% 70%;
}

.ground-cta .land-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.ground-cta__h {
    font-size: 25px;
    color: #fff;
    max-width: 800px;
    line-height: 1.5;
    font-weight: 500;
}

.ground-cta .ground-cta__btn {
    font-size: 18px;
    background: #ffd13a;
    border-radius: 50px;
    font-family: Roboto, sans-serif;
    color: #222c42;
    font-weight: 500;
    text-decoration: none;
    padding: 18px 40px;
    line-height: 1;
    display: inline-block;
    transition: all 0.2s;
}

.ground-cta .ground-cta__btn:hover {
    background: #0080ff;
    color: #fff;
}

.landpage .ground-works {
    margin: 60px auto;
}

.garant-list li {
    margin-bottom: 13px;
    margin-left: 40px;
}

.garant-list li img {
    margin-left: -33px;
}

.ground-docs__desc {
	text-align: center;
	margin: 0 0 40px;
}

.ground-docs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.landpage .content-98 .ground-gs__h {
    text-align: left;
    background: transparent;
}

.ground-gs__list {
    padding: 0;
}

.ground-gs__list li {
    list-style: none;
    background: url(/d/check.png) no-repeat;
    background-size: 16px;
    background-position: top left;
    padding-left: 27px;
    line-height: 1;
    margin: 14px 0;
}

.ground-gs__p {
	font-size: 110%;
}

.ground-how {
    position: relative;
}

.ground-how:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #f7f7f7;
    z-index: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ground-how .land-wrap {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.ground-how__subm, .ground-how__scheme {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ground-how__block {
    width: 100%;
    max-width: 300px;
}

.ground-how .ground-how__item {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    border-radius: 50px;
    padding: 10px 25px;
    text-align: center;
    margin: 15px 0;
    display: block;
    color: #222c42;
    font-size: 16px;
    width: 100%;
}

.ground-how .ground-how__item:hover {
	color: #fff;
	text-decoration: none;
	background: #0080ff;
}

.ground-how__item img {
    width: 18px;
    margin: -2px 4px 0 0;
}

.ground-how__item:hover img {
    filter: brightness(3) grayscale(1);
}

.ground-how__desc {
    font-size: 105%;
    text-align: center;
    max-width: 400px;
}

.ground-how__desc span {
    color: #0073e6;
    font-weight: 500;
}

.landpage .ground-how__scheme h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.ground-how__scheme-item {
    position: relative;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 25px auto;
    display: block;
    color: #222c42;
    font-size: 16px;
    max-width: 300px;
    background: #f7f7f7;
}

.ground-how__scheme-item:nth-child(2n) {
	margin-right: -80px;
}

.ground-how__scheme-item:nth-child(2n-1) {
	margin-left: -80px;
}

.ground-how__scheme-item:before {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-31px);
    font-weight: 900;
    font-size: 58px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    color: #cadbe9;
    z-index: 0;
}

.ground-how__scheme-item:first-child:before {
    content: "1";
}

.ground-how__scheme-item:nth-child(2):before {
    content: "2";
}

.ground-how__scheme-item:nth-child(3):before {
    content: "3";
}

.ground-how__scheme-item:nth-child(4):before {
    content: "4";
}


.ground-how__scheme-item:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 16px;
    background: url(/d/direction-sign.png) no-repeat;
    background-size: contain;
    top: 58%;
    filter: brightness(0.2) hue-rotate(289deg);
}

.ground-how__scheme-item:nth-child(2n):after {
    left: -28%;
    transform: scale(-1, 1) rotate(62deg);
}


.ground-how__scheme-item:nth-child(2n-1):after {
    left: 101%;
    transform: rotate(62deg);
}

.ground-how__scheme-item:last-child:after {
    display: none;
}

.ground-how__scheme-item p {
    margin: 0;
    line-height: 1.4;
    font-size: 15px;
    position: relative;
    padding-left: 50px;
}

/*.ground-how__scheme-item p span {
    color: #0073e6;
}*/

.ground-price__block {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0 0;
}

.ground-price__item {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    background: #f7f7f7;
    padding: 30px;
    text-align: center;
    max-width: 300px;
    border-radius: 10px;
}

.ground-price__price {
    font-size: 120%;
    font-weight: 600;
    color: #0073e6;
}

.ground-price__desc {
    max-width: 950px;
    margin: 0px auto 13px;
}






/**************************************/
/* HEATING */
/**************************************/


.heating-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 4.4rem;
  font-weight: 900;
  color: rgb(34, 44, 66);
}

.heading-secondary {
  text-align: center;

  margin-bottom: 6rem;
}

.heading-tertiary {
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.heating-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/**************************************/
/* HERO SECTION */
/**************************************/

.section-heating-hero {
  padding: 4.8rem 0 9.6rem 0;
  background: url(https://teploservice-ovk.ru/d/landpage_bg2.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.landpage .land-hero .land-wrap {
    justify-content: space-around;
}

.landpage .land-hero h1 {
    max-width: 700px;
    margin-bottom: 10px;
}

.heating-hero__text p {
  font-size: 3.3rem;
  font-weight: 900;
  color: rgb(0 115 230);
}

.heating-hero__list li {
  list-style: none;
  background: url(https://teploservice-ovk.ru/d/check.png) no-repeat;
  background-size: 16px;
  background-position: top left;
  padding-left: 27px;
  line-height: 1;
  margin: 14px 0;
}

.heating-hero__list ul {
  font-size: 1.6rem;
}

.btn__main {
  display: inline-block;
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(0 115 230);

  border-radius: 30px;
  padding: 12px 35px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.landpage .land-hero .lf_buttons {
    margin: 30px 0 0;
}

/**************************************/
/* WHY SECTION */
/**************************************/
.section-heating-why {
  padding: 4rem 0;
}

.heating-why-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.heating-why-img {
  margin-bottom: 12px;
  filter: hue-rotate(18deg) brightness(0.25);
  max-width: 50px;
}

.heating-why-text {
  font-size: 1.5rem;
  text-align: center;
  color: #0073e6;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

.heating-why-description {
  font-size: 1.4rem;
  margin: 0;
    text-align: center;
}


/**************************************/
/* CTA SECTION */
/**************************************/

.section-heating-cta {
  padding: 2.8rem 0;
  background: #002474 url(https://teploservice-ovk.ru/d/wave-bg.png);
  background-position: center;
}

.grid-cta {
  grid-template-columns: 3fr 1fr;
}

.heating-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heating-cta--text {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
  max-width: 70rem;
}

.heating-cta__btn {
	font-size: 1.8rem;
    border: none;
    background: #ffd13a;
    border-radius: 50px;
    font-family: Roboto, sans-serif;
    color: #222c42;
    font-weight: 500;
    text-decoration: none;
    padding: 18px 40px;
    line-height: 1;
    display: inline-block;
    transition: all 0.2s;
}

.heating-cta__btn:hover {
    background: #0080ff;
    color: #fff;
}


/**************************************/
/* SERVICES SECTION */
/**************************************/
.section-heating-services {
  padding: 2.8rem 0 6.6rem 0;
}

.heating-services--img {
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 8px 2px rgb(0 0 0 / 30%);
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  column-gap: 50px;
  align-items: center;
}

.heating-services--item {
    padding: 0 30px;
}

.landpage .heading-tertiary {
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.heating-services--list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  padding-left: 1rem;
  gap: 1.2rem;
  font-size: 1.6rem;
  line-height: 1;
  margin-bottom: 3rem;
}

.heating-services--list li {
  background: url(/d/check.png) no-repeat;
  background-position: left 3px;
  background-size: 16px;
  padding-left: 27px;
  line-height: 1.5;
}

.heating-price-box {
  display: flex;
  align-items: center;
}

.heating-price {
  font-size: 2.2rem;
  color: #0073e6;
  font-weight: 600;
  margin: 0;
}

.heating-services__btn {
  font-size: 1.7rem;
  font-weight: 500;
  color: #fff;
  border: none;
  padding: 12px 35px;
  background-color: #002474;
  border-radius: 30px;
  line-height: 1.4;
  margin-right: 2rem;
}
/**************************************/
/* STAGES SECTION */
/**************************************/

.section-heating-stages {
  padding: 5.8rem 0;
}


.section-heating-stages {
    background: #f7f7f7;
}

.section-heating-stages .heating-container {
    column-gap: 1rem;
    row-gap: 2rem;
}

.heating-stage__num {
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: 10px auto;
    background: #ffd13a;
    border-radius: 50%;
    line-height: 5rem;
    color: #222c42;
    font-weight: 600;
    font-size: 1.8rem;
}

.heating-stage--text {
    max-width: 20rem;
    margin: 15px auto;
    text-align: center;
    font-size: 1.5rem;
}

.heating-stage--text span {
    color: #0080ff;
    font-weight: 500;
}

.heating-stage {
    position: relative;
}

.heating-stage:after {
    content: "";
    width: 50px;
    height: 1px;
    background: #d1d8eb;
    position: absolute;
    top: 35px;
    left: 100%;
    transform: translateX(-25px);
}

.heating-stage:nth-child(4):after,
.heating-stage:last-child:after {
	display: none;
}


/**************************************/
/* NUMBERS SECTION */
/**************************************/
.section-heating-numbers {
  padding: 4.2rem 0 4.4rem 0;
}

.heating-numbers__item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    background: #f7f7f7;
    padding: 30px;
    text-align: center;
    max-width: 30rem;
    border-radius: 10px;
}

.heating-number {
  color: #002474;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
}

.heating-unit {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

.heating-number__text {
  text-align: center;
  margin: 0 auto;
  max-width: 18rem;
}
/**************************************/
/* CTA 2 SECTION */
/**************************************/
.section-heating-cta-second {
  padding: 4.8rem 0 4.8rem 0;
  background: #002474 url(https://teploservice-ovk.ru/d/wave-bg.png);
  background-position: center;
}

.section-heating-cta2 .heating-cta--text {
    max-width: 85rem;
}

.heating-cta-second {
  /* display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex-grow: 0; */
  color: #fff;
}

.heating-cta-second__heading {
  font-size: 2.4rem;
  font-weight: 500;
}

.heating-cta-second__text {
  max-width: 600px;
  margin-bottom: 2.4rem;
}

.landpage .heating-docs {
    padding: 1rem 0;
}


/**************************************/
/* PORTPHOLIO SECTION */
/**************************************/

.section-heating-portpholio {
  padding: 5.8rem 0 6.6rem 0;
      background: #f7f7f7;
}

.heating-portpholio {
  position: relative;
}

.heating-portpholio__slider {
  height: 45rem;
  max-width: 110rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  border-radius: 11px;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}

.heating-portpholio__slide {
  position: absolute;
  top: 0;
  height: 45rem;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1.5fr;

  transition: all 0.4s;

  overflow: hidden;
}



.heating-portpholio__imgs {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.heating-portpholio__img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heating-portpholio__description {
  padding: 3rem;
  align-self: center;
}

.heating-portpholio__description h4 {
    font-weight: 600;
    margin-top: 0;
}

.heating-portpholio__description span {
  font-size: 2.4rem;
  font-weight: 900;
  color: #dfdfdf;
}

.heating-portpholio__heading {
  font-size: 3rem;
  margin-bottom: 20px;
}

.heating-portpholio__text {
  margin-bottom: 2rem;
}

.heating-portpholio__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  line-height: 1;
  list-style: none;
  padding-left: 2rem;
  margin-bottom: 2.4rem;
}

.heating-portpholio__list li {
  background: url(https://teploservice-ovk.ru/d/check.png) no-repeat;
  background-size: 16px;
  padding-left: 27px;
}

.test {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
}

.heating-portpholio__price {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.heating-portpholio__price span {
  font-size: 2.2rem;
  color: #0073e6;
  font-weight: 600;
  margin: 0;
}

.slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #0080ff;
  color: #fff;
  font-size: 2.8rem;
  position: absolute;
  top: 50%;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 10%);
}

.slider__btn--left {
  left: 0;
  transform: translate(35%, -50%);
}

.slider__btn--right {
  right: 0;
  transform: translate(-30%, -50%);
}

.img-slider {
  position: absolute;
  display: grid;
  grid-auto-flow: column;

  width: 100%;
  height: 100%;
}

.img-slider div:hover {
  background-color: #00257431;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

/**************************************/
/* STEPS SECTION */
/**************************************/
.section-heating-steps {
  padding: 2.8rem 0 2.6rem 0;
}

.heating-step {
    position: relative;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    border-radius: 10px;
    padding: 2.5rem 3rem 2.5rem 4.5rem;
    margin: 2.5rem auto;
    display: block;
    color: #222c42;
    font-size: 1.6rem;
    max-width: 30rem;
    background: #f7f7f7;
}

.heating-step:before {
    position: absolute;
    top: -0.4rem;
    left: -2.4rem;
    transform: translateY(-31px);
    font-weight: 900;
    font-size: 89px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    color: #cadbe9;
    z-index: 0;
}

.heating-step:first-child:before {
	content: "1";
}

.heating-step:nth-child(2):before {
	content: "2";
}

.heating-step:last-child:before {
	content: "3";
}

.heating-step-description {
    position: relative;
        margin: 0;
}


/**************************************/
/* PRICE LIST SECTION */
/**************************************/

.section-heating-price-list {
  padding: 4.8rem 0 6.6rem 0;
    background: #f7f7f7;
}

.price-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heating-table {
  max-width: 800px;
}

.heating-table th,
td {
  padding: 16px 24px;
}

.section-heating-price-list table {
    border-radius: 10px;
    overflow: hidden;
}

.section-heating-price-list table tr th {
    background: #0080ff;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 6px;
    font-size: 1.6rem;
}

.landpage .section-heating-price-list table tr td {
    font-weight: 400;
    padding: 10px 20px;
    line-height: 1.5;
}

.landpage .section-heating-price-list table tr td:nth-child(2),
.landpage .section-heating-price-list table tr td:nth-child(3) {
    text-align: center;
}

.section-heating-price-list .heating-price__btn {
    font-size: 16px;
    background: #002474;
    border-radius: 50px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 40px;
    transition: all 0.2s;
}

.heating-price__btn:hover {
background: #0080ff;
}

.heating-table thead {
  background-color: #334a7c;
  color: #fff;
}

.heating-table tbody {
  background-color: #f8f9fa;
}

.heating-table tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.heating-table tbody tr td:last-child {
  color: #004183;
  font-weight: 500;
}

.heating-popup {
  max-height: 500px;
  max-width: 400px;
  background-color: #334a7c;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4rem 6rem rgb(0 0 0 / 30%);
  transition: all 0.5s;
  z-index: 1000;
  border-radius: 10px;
}

.heating-popup__form  {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background: #f1f0f5;
    box-sizing: border-box;
    color: #222;
}

.popup__close {
  font-size: 2.8rem;
  text-align: right;
  padding: 5px 5px 0 0;
  cursor: pointer;
      position: absolute;
    color: #222;
    top: 0;
    margin: 0;
    left: 92%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.heating-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  transition: all 0.5s;
  z-index: 999;
}

.landpage .heating-map {
    padding: 20px 0;
}




@media screen and (max-width: 1000px) {
	.landpage .land-hero .land-wrap {
    justify-content: space-around;
    flex-wrap: wrap;
}
.land-first .form-114 .form-text, 
.heating-popup__form .form-114 .form-text {
    width: 95%;
    max-height: 50px;
}

.land-first .form-114 .form-html,
.heating-popup__form .form-114 .form-html {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
}

.landpage .land-hero h1 {
    font-size: 4.4rem;
    text-align: center;
}

.landpage section.land-first {
    padding: 30px 0;
}

.landpage .land-first p {
    margin: 1rem 0 2rem 0;
}

.landpage .land-hero .lf_buttons {
    display: none;
}

.land-first-form {
    margin-top: 30px;
}

.grid--5-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
}

.heating-stage:nth-child(2n):after {
	display: none;
}

.heating-portpholio__slide {
	
    grid-template-columns: 1fr;
}

.section-heating-steps .grid--3-cols {
    gap: 2rem;
}



}




@media screen and (max-width: 900px) {
	
	.landpage section {
	    margin: 10px auto;
	}
	
	.landpage .land-first .land-wrap {
	    flex-wrap: wrap;
	}
	
	.landpage .land-first h1 {
	    font-size: 37px;
	    margin-bottom: 10px;
	    text-align: center;
	    margin-top: 0;
	}
	
	.landpage .land-first-left p {
	    text-align: center;
	    font-size: 19px;
	}
	
	.land-first-left .lf_buttons {
	    display: none;
	}
	
	.landpage .land-first-left ul {
	    margin: auto;
	}
	
	.land-first-form {
	    width: 98%;
	    margin: 40px auto 0;
	}
	
	.landpage .content-98 h2 {
	    font-size: 30px;
	}
		
	.act-column {
		columns: 1;
	    max-width: 100%;
	}
	
	.ground-adv__container {
	    flex-wrap: wrap;
	}
	
	.ground-adv__block {
	    width: 30%;
	    min-width: 170px;
	}

	.ground-cta .land-wrap {
	    gap: 20px;
	    flex-wrap: wrap;
	    text-align: center;
	}
	
	.ground-cta__h {
   		font-size: 22px;
	}
	
	.ground-docs {
	    flex-wrap: wrap;
	}
	
	.ground-price__block {
   		flex-wrap: wrap;
	}
	
	.ground-price__item {
    	max-width: 100%;
	}
	
	.ground-docs .highslide {
	    max-width: 45%;
	}
	
	.ground-docs .highslide img {
	    height: auto !important;
	}
	
	.ground-how .land-wrap {
    flex-wrap: wrap;
        padding: 0;
}

.ground-how:before,
.ground-how__scheme-item:after {
	display: none;
}

.ground-how__subm, .ground-how__scheme {
    width: 100%;
}

.ground-how__subm {
    background: #f7f7f7;
    margin-bottom: 40px;
    padding: 40px 0;
}

.landpage .landtext-white {
    padding: 10px 0 30px;
}

.ground-how__scheme-item:nth-child(2n-1) {
    margin-left: 0;
}

.ground-how__scheme-item:nth-child(2n) {
    margin-right: 0;
}

}


@media screen and (max-width: 700px) {

.grid--5-cols {
    grid-template-columns: repeat(1, 1fr);
	gap: 40px 20px;
}

.section-heating-cta .heating-cta {
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.heating-cta__btn {
    margin: auto;
}

.heating-cta--text {
    margin: 0;
}

.services-grid {
    grid-template-columns: 1fr;
    row-gap: 30px;
}

.heating-services--item {
    padding: 0 0;
}

.grid--4-cols {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.heating-stage:after {
	display: none;
}

.slider__btn {
    top: 102%;
}

.slider__btn--left {
    left: 50%;
    transform: translate(-120%, -50%);
}

.slider__btn--right {
    right: auto;
    left: 50%;
    transform: translate(20%, -50%);
}

.heating-portpholio__slide {
    height: auto;
}

.heating-portpholio__slider {
    height: 58rem;
}

.section-heating-price-list .adaptive-table {
    max-width: 100%;
}

.landpage .section-heating-price-list .adaptive-table table tr td:nth-child(2) {
    min-width: 40px;
}

.landpage .section-heating-price-list table tr td {
    padding: 10px 10px;
}

.heating-portpholio__imgs {
    display: none;
}

.heating-portpholio__description h4 {
    font-size: 2.2rem;
}

.heating-portpholio__description {
    padding: 2rem;
}

.heating-portpholio__list {
    line-height: 1.3;
    padding-left: 0;
    margin-bottom: 1.4rem;
}

.heating-services--item:first-child {
    order: 1;
}

.heating-services--img:nth-child(2) {
    order: 2;
}

.heating-services--img:nth-child(3) {
    order: 5;
}

.heating-services--item:nth-child(4) {
    order: 3;
}

.heating-services--item:nth-child(5) {
    order: 5;
}
.heating-services--img:nth-child(6) {
    order: 6;
}

.heating-services--img:nth-child(7) {
    order: 9;
}

.heating-services--item:nth-child(8) {
    order: 7;
}

.heating-services--item:nth-child(9) {
    order: 9;
}


.heating-services--img:nth-child(10) {
    order: 10;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}


.landpage-ground section.land-first {
	background: url(/d/landpage_bg-electroizmereniy-m.jpg) no-repeat;
	background-size: cover;
    background-position: center;
}

.landpage-ground section.land-first.land-hero {
	background: url(/d/landpage_bg-otoplenie-m.jpg) no-repeat;
	background-size: cover;
    background-position: center;
}

}