<template lang="pug">
.banner__content 
    .banner__head 
        h1 Монтаж систем отопления любой сложности 
            span под ключ в Анапе
        h3 oт проекта до запуска
        ul
            li выезд специалиста и консультация
            li составление технического решения
            li фиксированная стоимость
        .call__button 
            a(href="#") Подробнее 
            
                 
</template>
<style scoped lang="sass">
.banner__content 
    .banner__head 
        h1
            max-width: 700px
            margin-bottom: 30px
            font-size: 44px
            font-weight: bold
            @media(max-width: 1200px)
                font-size: 30px
                margin-bottom: 10px
                max-width: 400px
            span 
                color: rgb(0 115 230)
                
        h3 
            font-size: 44px
            color: rgb(0 115 230)
            margin-bottom: 20px
            @media(max-width: 1200px)
                    font-size: 30px
                    margin-bottom: 30px
        li
            list-style: none
            font-size: 14px
            margin-bottom: 14px
            padding-left: 27px
            background: url('../assets/images/check.webp') top left    no-repeat
            background-size: 16px
        .call__button
            margin: 30px 0 0
            a
                text-decoration: none
                background: rgb(34 44 66)
                color: #fff
                font-size: 17px
                font-weight: 500
                padding: 12px 35px
                text-transform: uppercase
                border-color: rgb(34 44 66)
                border-radius: 30px




                

</style>