<template lang="pug">
.top__form-content 
    .top__form-head Оставьте заявку, чтобы получить консультацию
    .input__group 
        input(type="text", name="", placeholder="* Ваше имя")
        input(type="phone", name="", placeholder="* Телефон")
        p.agreements Отправляя заявку Вы даете согласие на обработку &nbsp;
            a(href="#") персональных данных
        .send__top-form 
            button  Отправить заявку             
</template>
<style scoped lang="sass">
.top__form-content 
    padding: 40px
    flex-basis: 400px
    display: flex
    flex-direction: column
    gap: 30px
    background: #0073e633
    border-radius: 30px
    @media(max-width: 870px)
        padding: 40px 20px
        flex-basis: 300px
    .top__form-head
        font-size: 20px
        font-weight: bold
        color: #222c42
.input__group 
    display: flex
    flex-flow: column nowrap
    gap: 25px
    .agreements
        color: #a0a4b3
        font-size: 13px

    input
        padding: 2px 25px
        border: none
        border-radius: 10px
        box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #ffffff
        background: #f1f0f5
        min-height: 50px
    .send__top-form 
        text-align: center
        button 
            display: inline-block   
            //box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff
            transition: all 0.2s
            background: url("../assets/images/send.svg") right 30px top 50% / 25px no-repeat #0080ff
            font-size: 16px
            color: #fff
            border: none
            text-align: left
            padding: 20px 80px 20px 40px
            border-radius: 30px
            cursor: pointer
            
</style>