<template>
    <section class="section-heating-price-list">
        <div class="heating-container price-list">
        <h2 class="heading-secondary">Стоимость монтажа систем отопления</h2>
        
        <div class="adaptive-table"><table>
        <thead>
        <tr>
        <th>Наименование</th>
        <th>Ед.&nbsp;изм.</th>
        <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Монтаж радиатора отопления</td>
        <td>шт</td>
        <td>от 2&nbsp;000 руб.</td>
        </tr>
        <tr>
        <td>Монтаж труб системы отопления (металлопластик, сшитый полиэтилен) до Ø16-20 мм</td>
        <td>м</td>
        <td>100 руб.</td>
        </tr>
        <tr>
        <td>Монтаж труб системы отопления (полипропилен) до Ø20 мм</td>
        <td>м</td>
        <td>250 руб.</td>
        </tr>
        <tr>
        <td>Монтаж водяных теплых полов</td>
        <td>м2</td>
        <td>от 350 руб.</td>
        </tr>
        <tr>
        <td>Монтаж распределительного коллектора напольного отопления (включая подключение трубопроводов, установку запорной арматуры)</td>
        <td>шт</td>
        <td>5&nbsp;000 руб.</td>
        </tr>
        <tr>
        <td>Монтаж газового котла</td>
        <td>шт</td>
        <td>от 7&nbsp;000 руб.</td>
        </tr>
        <tr>
        <td>Монтаж водонагревателя косвенного нагрева</td>
        <td>шт</td>
        <td>от 5&nbsp;000 руб.</td>
        </tr>
        <tr>
        <td>Монтаж насосной группы</td>
        <td>шт</td>
        <td>от 5&nbsp;500 руб.</td>
        </tr>
        <tr>
        <td>Пуско-наладочные работы</td>
        <td>шт</td>
        <td>от&nbsp;5&nbsp;000&nbsp;руб.</td>
        </tr>
        </tbody>
        </table></div>
        <a class="heating-price__btn" href="/f/prajs-montazh-kotelnogo-oborudovaniya.pdf" target="_blank">Посмотреть полный прайс</a></div>
        </section>
</template>