<template lang="pug">
.top__line-bg 
    .top__line-wrap 
        .top__line-content
            .top__line-logo ИП Орлов В.В.
            ul.top__line-menu
                li  
                    a(href="/") Главная
                li  
                    a(href="#") Услуги
                li  
                    a(href="#") Наши работы
                li  
                    a(href="#") Цены
                li 
                    a(href="#") Информация  
                


</template>
<style lang="sass">
.top__line-bg
    padding: 40px 0
    background: linear-gradient(rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../assets/images/54660094_2.webp) left 50% top 50% / cover no-repeat
    .top__line-wrap 
        margin: 0 auto
        .top__line-content 
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            .top__line-logo
                font-size: 28px 
                color: #fff
                font-weight: bold
            .top__line-menu
                display: flex
                flex-wrap: wrap
                column-gap: 40px
                li
                    list-style: none
                    a 
                        text-decoration: none
                        color: #fff
</style>