<script setup>
import topLine from './components/topLine.vue'
import bannerContent from './components/bannerContent.vue'
import bannerForm from './components/bannerForm.vue'
import sectionPriceList from './components/sectionPriceList.vue'

</script>

<template>
  <!-- <top-line />
  <div class="top__banner">
    <div class="top__banner-wrap">
     <banner-content />
     <banner-form /> 

    </div>
  </div> -->
<div class="sample__page">
    <div class="panel-fixed fixed10">
<div class="panel-fixed-inner">
<div class="panel-fixed-1">
<a href="tel:+74951811841">+7 (495) 181-18-41</a>
<a href="https://wa.me/+79252023401" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/whatsapp4.png" alt="whatsapp"></span></a>
<a href="https://t.me/teploservice_ovk" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/telegram4.png" alt="telegram"></span></a>
</div>
<div class="panel-fixed-2">
КРУГЛОСУТОЧНО 24 часа
</div>
<div class="nomob"><iframe src="https://yandex.ru/sprav/widget/rating-badge/1554205793" width="150" height="50" frameborder="0"></iframe></div>
<div class="panel-fixed-3">
<div class="panel-fixed-btn">
<a href="javascript:void(0);" class="js-panel-fixed-btn">ВЫЗВАТЬ МАСТЕРА</a>
</div>
<div class="panel-fixed-1 inner">
<a href="tel:+74951811841">+7 (495) 181-18-41</a>
<a href="https://wa.me/+79252023401" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/whatsapp4.png" alt="whatsapp"></span></a>
<a href="https://t.me/teploservice_ovk" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/telegram4.png" alt="telegram"></span></a>
</div>
</div>
</div>
</div>		<div class="wrapper editorElement layer-type-wrapper">
<div class="side-panel side-panel-85 widget-type-side_panel editorElement layer-type-widget widget-158" data-layers="['widget-14':['tablet-landscape':'inSide','tablet-portrait':'inSide','mobile-landscape':'inSide','mobile-portrait':'inSide'],'widget-17':['tablet-landscape':'onTop','tablet-portrait':'inSide','mobile-landscape':'inSide','mobile-portrait':'inSide'],'widget-10':['tablet-landscape':'onTop','tablet-portrait':'onTop','mobile-landscape':'onTop','mobile-portrait':'onTop'],'widget-6':['tablet-landscape':'onTop','tablet-portrait':'onTop','mobile-landscape':'onTop','mobile-portrait':'onTop']]" data-phantom="0" data-position="left" style="pointer-events: auto; display: none;">
<div class="side-panel-top">
<div class="side-panel-button" style="display: none;">
<span class="side-panel-button-icon">
<span class="side-panel-button-icon-line"></span>
<span class="side-panel-button-icon-line"></span>
<span class="side-panel-button-icon-line"></span>
</span>
</div>
<div class="side-panel-top-inner"></div>
</div>
<div class="side-panel-mask" style="display: none; opacity: 0;"></div>
<div class="side-panel-content" style="display: none; transform: translate3d(-315px, 0px, 0px);">
<div class="side-panel-content-inner">
<iframe src="https://yandex.ru/sprav/widget/rating-badge/1554205793" width="150" height="50" frameborder="0"></iframe></div>
</div>
</div>   

<div class="editorElement layer-type-block ui-droppable block-8" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/thumb/2/lki-ZvrnmiWO-7w5IkNxDg/r/d/54660094_2.jpg) left 50% top 50% / cover no-repeat">
<div class="editorElement layer-type-block ui-droppable block-9">
  <div class="layout column layout_6">
    <div class="widget-3 widgetsocial-6 widget-type-social_links editorElement layer-type-widget">
       <div class="soc-content">  <div class="soc-item vk"><a href="https://vk.com/otopleniekotel" class="soc" target="_blank"><span class="wg-soc-icon"></span></a></div><div class="soc-item ok"><a href="https://ok.ru/remontkotlov" class="soc" target="_blank"><span class="wg-soc-icon"></span></a></div><div class="soc-item pin"><a href="https://remont-kotlov.tumblr.com/" class="soc" target="_blank"><span class="wg-soc-icon"></span></a></div><div class="soc-item youtube"><a href="https://www.youtube.com/channel/UCekKaC9i7J90M3BtvO1zAAQ" class="soc" target="_blank"><span class="wg-soc-icon"></span></a></div><div class="soc-item" style="margin-right: 16px;margin-left: 11px;"><a href="https://wa.me/+79252023401" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/whatsapp2.png" alt="whatsapp"></span></a></div><div class="soc-item"><a href="https://t.me/teploservice_ovk" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/telegram2.png" alt="telegram"></span></a></div></div>
</div>
</div>
<div class="layout column layout_17">
  <div class="address-17 widget-10 address-block contacts-block widget-type-contacts_address editorElement layer-type-widget">
<div class="inner">
    <label class="cell-icon" for="tg17">
        <div class="icon"></div>
    </label>
    <input id="tg17" class="tgl-but" type="checkbox">
    <div class="block-body-drop" style="margin-left: 0px;">
        <div class="cell-text">
            <div class="title"><div class="align-elem">Адрес:</div></div>
            <div class="text_body">
                <div class="align-elem">РАБОТАЕМ КРУГЛОСУТОЧНО<br>
по Москве и Московской области</div>
            </div>
        </div>
    </div>
</div>
</div><!--widget-10-->

</div>
<div class="layout column layout_10">
<div class="phones-10 widget-6 phones-block contacts-block widget-type-contacts_phone editorElement layer-type-widget">
<div class="inner">
<label class="cell-icon" for="tg-phones-10">
<div class="icon"></div>
</label>
<input id="tg-phones-10" class="tgl-but" type="checkbox">
<div class="block-body-drop" style="margin-left: 0px;">
<div class="cell-text">
  <div class="title"><div class="align-elem"></div></div>
  <div class="text_body">
    <div class="align-elem">
                      <div><a href="tel:+7 (495) 181-18-41">+7 (495) 181-18-41</a></div>														
    </div><a href="tel:"></a><a href="https://wa.me/+79252023401" class="soc" target="_blank" style="margin: 0 10px;"><span class="wg-soc-icon"><img src="/d/whatsapp2.png" alt="whatsapp"></span></a><a href="https://t.me/teploservice_ovk" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/telegram2.png" alt="telegram"></span></a>
  </div>
</div>
</div>
</div>
</div><!--widget-6-->

</div>
</div>
<div class="editorElement layer-type-block ui-droppable block-3">
<div class="layout column layout_95">
<div class="editorElement layer-type-block ui-droppable block-36">
<div class="site-name-8 widget-4 widget-type-site_name editorElement layer-type-widget">
 <a href="http://teploservice-ovk.ru"> 						 						 						<div class="sn-wrap">   
<div class="sn-text">
  <div class="align-elem">
    Теплосервис-ОВК
  </div>
</div>
  
</div>
</a> 
</div>
<div class="site-description widget-5 widget-type-site_description editorElement layer-type-widget">

<div class="align-elem">
Круглосуточная сервисная служба
</div>

</div>
</div>
</div>
<div class="layout column layout_24">
<div class="widget-14 horizontal menu-24 wm-widget-menu widget-type-menu_horizontal editorElement layer-type-widget" data-screen-button="more" data-responsive-tl="button" data-responsive-tp="button" data-responsive-ml="columned" data-more-text="..." data-child-icons="0">

<div class="menu-button">
Меню
</div>

<nav class="menu-scroll">
 <ul><li class="opened menu-item first-level"><a href="/uslugi"><span class="menu-item-text">Все услуги</span></a><ul class="level-2" style=""><li><a href="/remont-montag-obsluzivanie-kotlov">Котельное оборудование</a><ul class="level-3" style=""><li><a href="/montazh-kotlov">Монтаж котлов</a><ul class="level-4" style=""><li><a href="/montazh-dvukhkonturnogo-kotla">Монтаж настенного котла</a></li><li><a href="/montazh-kotla-komfort-i-uyut-v-vashem-dome">Монтаж газовых котлов</a></li><li><a href="/zamena-kotla-montazh-kotla-otopleniya">Замена котла. Монтаж котла отопления.</a></li><li><a href="/pusko-naladka-kotla">Пусконаладка котла</a></li></ul></li><li><a href="/remont-kotlov">Ремонт котлов</a><ul class="level-4" style=""><li><a href="/remont-kotlov-1">Ремонт котлов</a></li><li><a href="/remont-gazovykh-kotlov">Ремонт газовых котлов</a><ul class="level-5" style=""><li><a href="/remont-kotlov-aogv">Ремонт котлов АОГВ</a></li><li><a href="/remont-kotlov-ishma">Ремонт котлов ИШМА</a></li><li><a href="/remont-kotlov-aeg">Ремонт котлов AEG</a></li><li><a href="/remont-kotlov-acv">Ремонт котлов ACV</a></li><li><a href="/remont-kotlov-attack">Ремонт котлов Attack</a></li><li><a href="/remont-kotlov-baxi">Ремонт котлов Baxi</a></li><li><a href="/remont-kotlov-bosch">Ремонт котлов Bosch</a></li><li><a href="/remont-kotlov-buderus">Ремонт котлов Buderus</a></li><li><a href="/remont-kotlov-dakon">Ремонт котлов Dakon</a></li><li><a href="/remont-kotlov-de-dietrich">Ремонт котлов De Dietrich</a></li><li><a href="/remont-kotlov-demrad">Ремонт котлов Demrad</a></li><li><a href="/remont-kotlov-electrolux">Ремонт котлов Electrolux</a></li><li><a href="/remont-kotlov-ferroli">Ремонт котлов Ferroli</a></li><li><a href="/remont-kotlov-gazlux">Ремонт котлов Gazlux</a></li><li><a href="/remont-kotlov-hermann">Ремонт котлов Hermann</a></li><li><a href="/remont-kotlov-junkers">Ремонт котлов Junkers</a></li><li><a href="/remont-kotlov-mora">Ремонт котлов Mora</a></li><li><a href="/remont-kotlov-protherm">Ремонт котлов Protherm</a></li><li><a href="/remont-kotlov-thermona">Ремонт котлов Thermona</a></li><li><a href="/remont-kotlov-vaillant">Ремонт котлов Vaillant</a></li></ul></li><li><a href="/remont-i-montazh-kotla-v-moskve">Ремонт и монтаж котла в Москве</a></li><li><a href="/remont-i-montazh-kotla-v-serpuhove">Ремонт и монтаж котла в Серпухове</a></li><li><a href="/remont-i-montazh-kotla-v-kaluge">Ремонт и монтаж котла в Калуге и Калужской области</a></li><li><a href="/remont-i-montazh-kotla-v-ryazani">Ремонт и монтаж котла в Рязани</a></li><li><a href="/remont-i-montazh-kotla-v-sankt-peterburge">Ремонт и монтаж котла в Санкт-Петербурге</a></li></ul></li><li><a href="/tekhnicheskoye-obsluzhivaniye-kotlov">Техническое обслуживание котлов</a><ul class="level-4" style=""><li><a href="/chistka-kotlov">Чистка котлов</a></li><li><a href="/chistka-gazovogo-kotla">Чистка газового котла</a></li></ul></li><li><a href="/prays-list-obsluzhivaniya-i-remonta-kotlov">Прайс-лист обслуживания и ремонта котлов</a></li><li><a href="/prays-list-po-montazhu-kotlov">Прайс-лист по монтажу котлов</a></li><li><a href="/ustanovka-signalizatorov-zagazovannosti">Установка сигнализаторов загазованности</a></li></ul></li><li><a href="/remont-montag-vodonagrevateley">Водонагреватели</a><ul class="level-3" style=""><li><a href="/remont-i-montazh-kolonki">Ремонт и монтаж колонки</a><ul class="level-4" style=""><li><a href="/remont-gazovykh-kolonok">Ремонт газовых колонок</a></li><li><a href="/remont-kolonki-v-moskve">Ремонт колонки в Москве</a></li><li><a href="/montazh-gazovoy-kolonki-v-moskve">Установка газовой колонки в Москве</a></li><li><a href="/remont-kolonki-v-kaluge-i-kaluzhskoy-oblasti">Ремонт колонки в Калуге и Калужской области</a></li><li><a href="/ustanovka-kolonki-v-kaluge-i-kaluzhskoy-oblasti-1">Монтаж колонки в Калуге и Калужской области</a></li><li><a href="/remont-kolonki-v-sankt-peterburge">Ремонт колонки в Санкт-Петербурге</a></li><li><a href="/ustanovka-kolonki-v-spb">Монтаж колонки в СПб и Ленинградской области</a><ul class="level-5" style=""><li><a href="/ustanovka-gazovoi-kolonki-v-sankt-peterburge">Монтаж газовой колонки в Санкт-Петербурге. Монтаж газового водонагревателя</a></li></ul></li><li><a href="/remont-kolonki-v-tule">Ремонт газовой колонки в Туле</a></li><li><a href="/montag-gazovoy-kolonki-v-tule">Монтаж газовой колонки в Туле</a></li><li><a href="/remont-gazovoy-kolonki-v-ryazani">Ремонт колонки в Рязани и Рязанской области</a></li><li><a href="/montazh-gazovoy-kolonki-v-ryazani">Монтаж газовой колонки в Рязани</a></li></ul></li><li><a href="/remont-i-montazh-boylera">Ремонт и монтаж бойлера</a></li></ul></li><li class="opened"><a href="/otoplenie-montag-otopleniya">Отопление</a><ul class="level-3" style=""><li><a href="/montazh-otopleniya">Монтаж отопления</a></li><li><a href="/montag-otopleniya-doma">Монтаж отопления дома</a></li><li class="opened active"><a href="/montazh-sistem-otopleniya">Монтаж системы отопления</a></li><li><a href="/montazh-sistem-otopleniya-doma">Монтаж системы отопления дома</a></li><li><a href="/rekomendatsii-po-otopleniyu">Рекомендации по отоплению</a></li><li><a href="/pokvartirnoye-otopleniye">Поквартирное отопление</a></li><li><a href="/montazh-otopleniya-v-moskve">Монтаж отопления в Москве</a></li><li><a href="/montazh-otopleniya-v-kaluge">Монтаж отопления в Калуге</a></li><li><a href="/montazh-otopleniya-v-sankt-peterburge">Монтаж отопления в Санкт-Петербурге</a></li><li><a href="/promyvka-otopleniya">Промывка отопления</a><ul class="level-4" style=""><li><a href="/ne-greet-otoplenie-chto-delat">Не греет отопление - что делать?</a></li></ul></li></ul></li><li><a href="/vodosnabjenie-montag">Водоснабжение</a></li><li><a href="/santehnika-santehnicheskie-raboty">Сантехнические работы</a></li><li><a href="/avtonomnaya-gazifikaciya-doma">Автономная газификация</a><ul class="level-3" style=""><li><a href="/montazh-gruppovoy-gazoballonnoy-ustanovki">Монтаж групповой газобаллонной установки</a></li><li><a href="/gazoballonnie-ustanovki">Газобаллонные установки: выбор и монтаж</a></li><li><a href="/montazh-minigazgolderov">Монтаж минигазгольдеров</a></li><li><a href="/perevod-kotla-na-sug">Перевод котлов на СУГ</a></li><li><a href="/rabota-nastennogo-kotla-na-szhizhennom-gaze">Работа настенного котла на сжиженном газе</a></li><li><a href="/otopleniye-zagorodnogo-doma-szhizhennym-gazom">Отопление загородного дома сжиженным газом</a></li><li><a href="/montazh-i-remont-gbo-otopleniye-ot-gazovogo-ballona">Монтаж и ремонт ГБО. Отопление от газового баллона.</a></li><li><a href="/avtonomnaya-gazifikatsiya-zagorodnogo-doma-ploshchadyu-150-m2">Автономная газификация загородного дома</a></li><li><a href="/ballonnyye-ustanovki-szhizhennykh-gazov">Баллонные установки сжиженных газов</a><ul class="level-4" style=""><li><a href="/individualnyye-ballonnyye-ustanovki">Индивидуальные баллонные установки</a></li><li><a href="/gruppovyye-ballonnyye-ustanovki">Групповые баллонные установки</a></li><li><a href="/gruppovyye-rezervuarnyye-ustanovki">Групповые резервуарные установки</a></li></ul></li><li><a href="/gazosnabzheniye-zhilykh-domov">Газоснабжение жилых домов</a></li><li><a href="/otaplivayem-dom-szhizhennym-gazom">Отапливаем дом сжиженным газом</a></li></ul></li><li><a href="/dogovor-to-gazovogo-oborudovaniya">Договор ТО газового оборудования</a><ul class="level-3" style=""><li><a href="/dogovor-na-obsluzhivaniye-gazovogo-kotla">Договор на обслуживание газового котла</a></li><li><a href="/zaklyucheniye-dogovorov-na-obsluzhivaniye">Заключение договоров на обслуживание</a></li><li><a href="/dogovor-na-obsluzhivaniye-grpsh-i-shrp">Договор на обслуживание ГРПШ и ШРП</a><ul class="level-4" style=""><li><a href="/obsluzhivanie-grp-i-shrp">Обслуживание ГРП и ШРП</a></li><li><a href="/remont-grp-shrp-mrp">Ремонт ГРП, ШРП, МРП</a></li><li><a href="/vidy-rabot-pri-provedenii-tekhnicheskogo-obsluzhivaniya-grpsh">Виды работ при проведении Технического Обслуживания ГРПШ</a></li></ul></li><li><a href="/dogovor-to-na-obsluzhivaniye-gazovogo-oborudovaniya">Договор ТО на обслуживание газового оборудования</a><ul class="level-4" style=""><li><a href="/sostav-rabot-po-tekhnicheskomu-obsluzhivaniyu-gazovykh-priborov-i-oborudovaniya">Состав работ по техническому обслуживанию газовых приборов и оборудования</a></li><li><a href="/instruktsiya-po-bezopasnomu-polzovaniyu-gazom">Инструкция по безопасному пользованию газом</a></li></ul></li><li><a href="/pomoshch-v-podache-dokumentov-v-gazovuyu-sluzhbu">Помощь в подаче документов в газовую службу</a></li><li><a href="/obsluzhivanie-vdgo">Обслуживание ВДГО</a></li><li><a href="/obsluzhivanie-vkgo">Обслуживание ВКГО</a></li><li><a href="/dogovor-vdgo-i-vkgo-dlya-mosoblgaz">ДОГОВОР ВДГО И ВКГО ДЛЯ МОСОБЛГАЗ</a></li></ul></li><li><a href="/remont-gazovykh-generatorov">Ремонт газовых генераторов</a></li><li><a href="/chistka-teploobmennikov-ot-nakipi">Чистка теплообменников от накипи</a><ul class="level-3" style=""><li><a href="/plokho-greyet-kotel-kak-promyt-teploobmennik-ot-nakipi">Плохо греет котел? Как промыть теплообменник от накипи!</a></li></ul></li><li><a href="/proverka-dymohodov">Проверка дымоходов</a><ul class="level-3" style=""><li><a href="/akt-vdpo">Акт ВДПО</a></li><li><a href="/akt-zazemlenie">Акт на заземление</a></li></ul></li><li><a href="/zamena-gazovyh-schetchikov">Замена газовых счетчиков</a></li></ul></li><li class="menu-item first-level"><a href="/dogovor-vdgo-i-vkgo-dlya-mosoblgaz"><span class="menu-item-text">Договор ВДГО</span></a></li><li class="menu-item first-level"><a href="/remont-kotlov"><span class="menu-item-text">Ремонт котлов</span></a></li><li class="menu-item first-level"><a href="/montazh-sistem-otopleniya"><span class="menu-item-text">Монтаж отопления</span></a></li><li class="menu-item first-level"><a href="/akt-vdpo"><span class="menu-item-text">Акт на дымоход</span></a></li><li class="menu-item first-level"><a href="/kontakty"><span class="menu-item-text">Контакты</span></a></li><li class="menu-item first-level"><a href="/about"><span class="menu-item-text">Информация</span></a><ul class="level-2" style=""><li><a href="/about">О компании</a></li><li><a href="/foto-rabot-teploservice-ovk">Фото работ</a></li><li><a href="/kody-oshibok-kotlov">Коды ошибок котлов</a><ul class="level-3" style=""><li><a href="/kody-oshibok-kotlov-buderus">Коды ошибок котлов Buderus</a></li></ul></li><li><a href="/video-stati">Видео статьи</a></li><li><a href="/user">Регистрация</a></li></ul></li><li class="more-button first-level disabled" data-trigger="hover"><a href="#"><span>...</span></a><ul style=""></ul></li></ul> 
</nav>

</div><!--widget-14-->
</div>
<div class="layout column layout_27">
<a class="button-27 widget-17 widget-type-button editorElement layer-type-widget" href="#" data-api-type="popup-form" data-api-url="/my/s3/xapi/public/?method=form/postform&amp;param[form_id]=23681661&amp;param[tpl]=wm.form.popup.tpl&amp;placeholder=placeholder&amp;tit_en=1&amp;sh_err_msg=0&amp;ic_en=0&amp;u_s=/user" data-wr-class="popover-wrap-27"><span>Перезвоните мне</span></a><!--widget-17-->

</div>
</div>
</div>



<div class="landpage landpage-ground">
        <article class="content-98 content widget-162 widget-type-content editorElement layer-type-widget">	

            
    
  
  
    <section class="land-first land-hero">
      <div class="land-wrap">
        <div class="land-first-left">
          <h1>
            Монтаж систем отопления любой сложности <span>под ключ</span>
          </h1>
          
          <p>от проекта до запуска</p>

          <ul>
            <li>выезд и консультация инженера</li>
            <li>составление технического решения</li>
            <li>фиксированная стоимость</li>
          </ul>
          
          <div class="lf_buttons page-contents"><a href="#more" class="scroll-to">Подробнее</a></div>
        </div>
        
        <div class="land-first-form">	
        <p>Оставьте заявку, чтобы получить консультацию</p>
           



<div class="form-114 widget-171">
              <div class="form__body" data-api-type="form" data-api-url="/my/s3/xapi/public/?method=form/postform&amp;param[form_id]=45492306">
  <form method="post">
<input type="hidden" name="_form_item" value="">
<input type="hidden" name="form_id" value="45492306">
<input type="hidden" name="tpl" value="db:wm.form.adaptive2.tpl">
          <div class="form-table">
    <div class="form-tbody">
          <div class="form-item form-text field_188260506"><div class="form-item__body"><input class="wm-input-default" placeholder="* Ваше имя: " type="text" size="1" maxlength="100" value="" name="d[0]" id="d[0]" required=""></div></div><div class="form-item form-text phone"><div class="form-item__body"><input class="wm-input-default" placeholder="* Телефон: " type="text" size="1" maxlength="100" value="" name="d[1]" id="d[1]" required=""></div></div><div class="form-item form-html field_188260906"><div class="form-item__body"><div class="form-item__body">Отправляя заявку, Вы даете согласие на обработку&nbsp;<a href="/user/agreement" target="_blank">персональных данных</a></div></div></div>
        
          
    </div>
                  <div class="form-tfoot">
        <div class="form-item-group group-button">
                              <div class="form-submit"><div class="form-item__body"><button class="wm-input-default" type="submit"><span class="align-elem">Отправить</span></button></div></div>
                          </div>
      </div>
              </div>
  <span class="form-item__title agreement" style="margin-top:15px;">✔ <a href="Array/agreement"> Ознакомлен с пользовательским соглашением</a></span>
      <textarea name="g-recaptcha-response" style="display: none !important;"></textarea></form>
</div>
</div>

        </div>
      </div>
    </section>
    
  




<main class="heating" id="more">
<section class="section-heating-why">
<div class="heating-container">
<h2 class="heading-secondary">Почему нам <span>доверяют</span></h2>

<div class="heating-why-items grid grid--5-cols">
<div class="heating-why-item"><img alt="" class="heating-why-img" src="/d/heat-masters.png">
<p class="heating-why-text">Собственные мастера</p>

<p class="heating-why-description">Мы не приглашаем сторонних людей - к вам приедут наши специалисты, работающие в компании уже более 10 лет</p>
</div>

<div class="heating-why-item"><img alt="" class="heating-why-img" src="/d/heat-exp.png">
<p class="heating-why-text">Собственный опыт</p>

<p class="heating-why-description">Работаем с инженерным оборудованием и системами отопления с 2003 года</p>
</div>

<div class="heating-why-item"><img alt="" class="heating-why-img" src="/d/heat-count.png">
<p class="heating-why-text">Бесплатный расчет</p>

<p class="heating-why-description">Сделаем бесплатный теплотехнический расчет системы отопления дома быстро, точно и «без проволочек»</p>
</div>

<div class="heating-why-item"><img alt="" class="heating-why-img" src="/d/heat-project.png">
<p class="heating-why-text">Проект и монтаж</p>

<p class="heating-why-description">Поможем в создании проекта и выполним работы с использованием только качественного оборудования</p>
</div>

<div class="heating-why-item"><img alt="" class="heating-why-img" src="/d/heat-waranty.png">
<p class="heating-why-text">Гарантия 5 лет</p>

<p class="heating-why-description">Гарантия для нас — это ваше спокойствие и ответственное выполнение работ. Мы приедем при любом перебое&nbsp;в работе системы отопления</p>
</div>
</div>
</div>
</section>

<section class="section-heating-cta">
<div class="heating-container grid grid-cta heating-cta">
<p class="heating-cta--text">Нужна консультация? Оставьте заявку, и наш специалист перезвонит вам в течение нескольких минут</p>
<button class="heating-cta__btn btn__popup">Оставить заявку</button></div>
</section>

<section class="section-heating-services">
<div class="heating-container">
<h2 class="heading-secondary">Что мы <span>профессионально</span> умеем делать</h2>
</div>

<div class="heating-container services-grid">
<div class="heating-services--item">
<h3 class="heading-tertiary">Монтаж котлов</h3>

<ul class="heating-services--list">
<li>Установка настенных и напольных, газовых и электрических котлов</li>
<li>Выбор подходящего места согласно ПБ-529</li>
<li>Установка и подключение с соблюдением гарантии</li>
<li>Настройка с соблюдением технической карты и запуск</li>
</ul>

<div class="heating-price-box"><button class="heating-services__btn btn__popup">Заказать</button>

<p class="heating-price">от 4&nbsp;500 руб.</p>
</div>
</div>
<img alt="" class="heating-services--img" src="/d/heat-montazh.jpg"> <img alt="" class="heating-services--img" src="/d/heat-radiator.jpg">
<div class="heating-services--item">
<h3 class="heading-tertiary">Установка радиаторов</h3>

<ul class="heating-services--list">
<li>Надежное крепление радиатора</li>
<li>Полная обвязка надежными материалами</li>
<li>Запуск и удаление воздуха для избежания коррозии и разрыва</li>
</ul>

<div class="heating-price-box"><button class="heating-services__btn btn__popup">Заказать</button>

<p class="heating-price">от 2&nbsp;500 руб.</p>
</div>
</div>

<div class="heating-services--item">
<h3 class="heading-tertiary">Монтаж теплого пола</h3>

<ul class="heating-services--list">
<li>Укладка утеплителя и отражателя на пол</li>
<li>Раскладка трубы теплого пола с подходящим шагом трубы и рисунком</li>
<li>Заполнение труб отопления и контроль удаления воздуха</li>
</ul>

<div class="heating-price-box"><button class="heating-services__btn btn__popup">Заказать</button>

<p class="heating-price">от 350 руб./кв.м.</p>
</div>
</div>
<img alt="" class="heating-services--img" src="/d/heat-pol.jpg"> <img alt="" class="heating-services--img" src="/d/heat-kotelnye.jpg">
<div class="heating-services--item">
<h3 class="heading-tertiary">Монтаж котельных</h3>

<ul class="heating-services--list">
<li>Тепловой расчет и вариант размещения котельной</li>
<li>Установка инженерного котельного оборудования</li>
<li>Пуско-наладочные работы котельного оборудования</li>
</ul>

<div class="heating-price-box"><button class="heating-services__btn btn__popup">Заказать</button>

<p class="heating-price">от 3&nbsp;500 руб.</p>
</div>
</div>

<div class="heating-services--item">
<h3 class="heading-tertiary">Монтаж гидроколлекторов</h3>

<ul class="heating-services--list">
<li>Расчет и установка гидравлических распределительных коллекторов для радиаторного отопления и отопления теплым полом</li>
<li>Запуск и проверка работоспособности при разных температурных режимах</li>
</ul>

<div class="heating-price-box"><button class="heating-services__btn btn__popup">Заказать</button>

<p class="heating-price">от 4&nbsp;000 руб.</p>
</div>
</div>
<img alt="" class="heating-services--img" src="/d/heat-kollektor.jpg"></div>
</section>

<section class="section-heating-stages">
<div class="heating-container">
<h2>Этапы работ с нами</h2>
</div>

<div class="heating-container grid grid--4-cols">
<div class="heating-stage">
<p class="heating-stage__num">1</p>

<p class="heating-stage--text">Проектирование системы отопления с <span>тепловым расчетом</span></p>
</div>

<div class="heating-stage">
<p class="heating-stage__num">2</p>

<p class="heating-stage--text"><span>Подбор и поставка</span> инженерного оборудования</p>
</div>

<div class="heating-stage">
<p class="heating-stage__num">3</p>

<p class="heating-stage--text"><span>Монтажные работы</span> отопления в доме</p>
</div>

<div class="heating-stage">
<p class="heating-stage__num">4</p>

<p class="heating-stage--text">Надзор за исполнением работ <span>с соблюдением сроков</span></p>
</div>

<div class="heating-stage">
<p class="heating-stage__num">5</p>

<p class="heating-stage--text"><span>Фотоотчет</span> о проделанной работе</p>
</div>

<div class="heating-stage">
<p class="heating-stage__num">6</p>

<p class="heating-stage--text"><span>Вывоз мусора</span> в процессе и по завершению работ</p>
</div>

<div class="heating-stage">
<p class="heating-stage__num">7</p>

<p class="heating-stage--text"><span>Пуско-наладочные работы</span> системы отопления в доме</p>
</div>

<div class="heating-stage">
<p class="heating-stage__num">8</p>

<p class="heating-stage--text"><span>Сдача объекта</span> в эксплуатацию согласно договору</p>
</div>
</div>
</section>

<section class="section-heating-numbers">
<div class="heating-container">
<h2 class="heading-secondary">Лучше всего о нашей компании <span>говорят цифры</span></h2>
</div>

<div class="heating-container grid grid--4-cols">
<div class="heating-numbers__item">
<div class="heating-number">250</div>

<div class="heating-unit">км труб</div>

<p class="heating-number__text">мы установили в домах</p>
</div>

<div class="heating-numbers__item">
<div class="heating-number">423</div>

<div class="heating-unit">дома</div>

<p class="heating-number__text">сдали в эксплуатацию с 2003 года</p>
</div>

<div class="heating-numbers__item">
<div class="heating-number">7</div>

<div class="heating-unit">дней</div>

<p class="heating-number__text">на выполнение монтажа отопления</p>
</div>

<div class="heating-numbers__item">
<div class="heating-number">5</div>

<div class="heating-unit">лет гарантии</div>

<p class="heating-number__text">предоставляем на выполненные работы</p>
</div>
</div>
</section>
<!--<section class="section-heating-cta-second">
<div class="heating-container heating-cta-second">
<p class="heating-cta-second__heading">Необходима помощь с подбором оборудования?</p>

<p class="heating-cta-second__text">Закажите консультацию инженера, он бесплатно ответит на все технические и организационные вопросы</p>
<button class="heating-cta__btn">Заказать звонок</button></div>
</section>-->

<section class="section-heating-cta section-heating-cta2">
<div class="heating-container grid grid-cta heating-cta">
<p class="heating-cta--text">Нужна помощь с подбором оборудования? Оставьте заявку, и наш инженер ответит на все технические и организационные вопросы</p>
<button class="heating-cta__btn btn__popup">Заказать звонок</button></div>
</section>

<section class="landtext-white mb0 heating-docs">
<div class="land-wrap">
<h2 class="mt10 mb50">Наши сертификаты</h2>
<img alt="Сертификаты" src="/d/sertifikaty_obucheniya.jpg"></div>
</section>

<section class="section-heating-portpholio">
<div class="heating-container">
<h2 class="heading-secondary">Наше портфолио</h2>
</div>

<div class="heating-container heating-portpholio">
<div class="heating-portpholio__slider">
<div class="heating-portpholio__slide slide--1" style="transform: translateX(-100%);">
<div class="heating-portpholio__imgs"><img alt="asd" class="heating-portpholio__img" src="/d/montazh-otopleniya-1-1.jpg"> <img alt="dsds" class="heating-portpholio__img" src="/d/montazh-otopleniya-1-2.jpg"> <img alt="cxzxxc" class="heating-portpholio__img" src="/d/montazh-otopleniya-1-3.jpg">
<div class="img-slider"><div class="slider-blok--0"></div><div class="slider-blok--1"></div><div class="slider-blok--2"></div></div>
</div>

<div class="heating-portpholio__description">
<h4 class="heating-portpholio__heading">Монтаж котельной в частном доме</h4>

<p class="heating-portpholio__text">Установка отопительного и водонагревательного инженерного оборудования с полной обвязкой и подключением к системе теплых полов, водоснабжения и газоснабжения в доме</p>

<ul class="heating-portpholio__list">
<li>Газовый настенный котел Buderus Logamax мощностью 24 кВт</li>
<li>Группы быстрого монтажа Oventrop</li>
<li>Гидравлический коллектор Oventrop</li>
<li>Водонагреватель косвенного нагрева Rommer</li>
<li>Мембранные расширительные баки Reflex</li>
<li>Коллекторы теплого пола из нержавеющей стали Stout</li>
<li>Трубопровод и арматура Kalde</li>
</ul>

<p class="heating-portpholio__price">Стоимость работ: <span>215 000 руб.</span></p>
</div>
</div>

<div class="heating-portpholio__slide slide--2" style="transform: translateX(0%);">
<div class="heating-portpholio__imgs"><img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-2-1.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-2-2.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-2-3.jpg">
<div class="img-slider"><div class="slider-blok--0"></div><div class="slider-blok--1"></div><div class="slider-blok--2"></div></div>
</div>

<div class="heating-portpholio__description">
<h4 class="heating-portpholio__heading">Монтаж котельной в частном доме</h4>

<p class="heating-portpholio__text">Монтаж отопительного оборудования с обвязкой медным трубопроводом.</p>

<ul class="heating-portpholio__list">
<li>Газовый настенный котел Baxi мощностью 24 кВт</li>
<li>Электрический котел Zota</li>
<li>Группы быстрого монтажа Barberi</li>
<li>Гидравлический коллектор Barberi</li>
<li>Мембранный расширительный бак Reflex</li>
<li>Трубопровод и арматура Sanha</li>
</ul>

<p class="heating-portpholio__price">Стоимость работ: <span>290 000 руб.</span></p>
</div>
</div>

<div class="heating-portpholio__slide slide--3" style="transform: translateX(100%);">
<div class="heating-portpholio__imgs"><img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-3-1.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-3-2.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-3-3.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-3-4.jpg">
<div class="img-slider"><div class="slider-blok--0"></div><div class="slider-blok--1"></div><div class="slider-blok--2"></div><div class="slider-blok--3"></div></div>
</div>

<div class="heating-portpholio__description">
<h4 class="heating-portpholio__heading">Монтаж теплого пола 150 м2</h4>

<p class="heating-portpholio__text">Укладка теплоизоляционного материала, трубы теплого пола и монтаж коллекторов</p>

<ul class="heating-portpholio__list">
<li>Монтажные маты с бобышками Oventrop</li>
<li>Труба из сшитого полиэтилена 16х2,2 Rehau</li>
<li>Коллекторные группы Rehau</li>
<li>Запорно-регулирующая арматура Rehau</li>
</ul>

<p class="heating-portpholio__price">Стоимость работ: <span>110 000 руб.</span></p>
</div>
</div>

<div class="heating-portpholio__slide slide--4" style="transform: translateX(200%);">
<div class="heating-portpholio__imgs"><img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-4-1.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-4-2.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-4-3.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-4-4.jpg">
<div class="img-slider"><div class="slider-blok--0"></div><div class="slider-blok--1"></div><div class="slider-blok--2"></div><div class="slider-blok--3"></div></div>
</div>

<div class="heating-portpholio__description">
<h4 class="heating-portpholio__heading">Монтаж котельной и теплого пола 200 м2</h4>

<p class="heating-portpholio__text">Монтаж котельного оборудования с укладкой теплого пола в доме</p>

<ul class="heating-portpholio__list">
<li>Настенный электрический котел Protherm мощностью 24 кВт</li>
<li>Электрический водонагреватель Ariston</li>
<li>Труба из сшитого полиэтилена 16х2,2 Blansol</li>
<li>Коллекторные группы Blansol</li>
<li>Запорно-регулирующая арматура Blansol</li>
</ul>

<p class="heating-portpholio__price">Стоимость работ: <span>215 000 руб.</span></p>
</div>
</div>

<div class="heating-portpholio__slide slide--5" style="transform: translateX(300%);">
<div class="heating-portpholio__imgs"><img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-5-1.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-5-2.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-5-3.jpg"> <img alt="" class="heating-portpholio__img" src="/d/montazh-otopleniya-5-4.jpg">
<div class="img-slider"><div class="slider-blok--0"></div><div class="slider-blok--1"></div><div class="slider-blok--2"></div><div class="slider-blok--3"></div></div>
</div>

<div class="heating-portpholio__description">
<h4 class="heating-portpholio__heading">Монтаж радиаторов отопления и гидроузла в квартире</h4>

<p class="heating-portpholio__text">Установка радиаторов, прокладка трубопровода, сборка и подключение гидроузла отопления в квартире.</p>

<ul class="heating-portpholio__list">
<li>Стальные радиаторы Rifar</li>
<li>Труба из сшитого полиэтилена Uponor</li>
<li>Коллекторные группы Uponor</li>
<li>Запорно-регулирующая арматура Uponor</li>
<li>Автоматика управления и фильтры Honeywell</li>
</ul>

<p class="heating-portpholio__price">Стоимость работ: <span>98 000 руб.</span></p>
</div>
</div>
</div>
<button class="slider__btn slider__btn--left"><svg class="btn-icon" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="M15.75 19.5L8.25 12l7.5-7.5" stroke-linecap="round" stroke-linejoin="round"></path> </svg></button><button class="slider__btn slider__btn--right"><svg class="btn-icon" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="M8.25 4.5l7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path> </svg></button>

<div class="dots">&nbsp;</div>
</div>
</section>

<section class="section-heating-steps">
<div class="heating-container">
<h2>3 основных шага монтажа отопления</h2>
</div>

<div class="heating-container grid grid--3-cols">
<div class="heating-step">
<p class="heating-step-description">Любой монтаж отопления дома начинается с <strong>потребностей клиента</strong>. Наши технические специалисты выслушают Ваши пожелания и то, каким Вы видите дом с системой отопления.</p>
</div>

<div class="heating-step">
<p class="heating-step-description">После получения необходимых сведений, наши инженеры проводят все <strong>расчеты и подборку оборудования и материалов</strong>. Это важно, чтобы убедиться, что монтаж пройдет в сроки и новая система отопления будет работать для конкретного дома.</p>
</div>

<div class="heating-step">
<p class="heating-step-description">Третий шаг - монтаж системы отопления с обвязкой оборудования в котельной дома. Наши специалисты проводят монтаж точно в срок, а после завершения демонстрируют работу системы отопления и передают всю документацию на обслуживание. <strong>Вам остается только наслаждаться новой системой отопления!</strong></p>
</div>
</div>
</section>

<section-price-list />

<section class="landtext-white heating-map">
<div class="land-wrap">
<h2 class="mb30">Работаем по всей Москве и Московской области</h2>
<object data=" /d/map.svg" height="0" id="imap" width="0"></object>

<div class="land_map-block">
<div class="land_map-list">
<ul>
<li>Москва</li>
<li>Балашиха</li>
<li>Бронницы</li>
<li>Власиха</li>
<li>Волоколамский район</li>
<li>Воскресенский район</li>
<li>Восход</li>
<li>Дзержинский</li>
<li>Дмитровский район</li>
<li>Долгопрудный</li>
<li>Домодедово</li>
<li>Дубна</li>
<li>Егорьевский район</li>
<li>Железнодорожный</li>
<li>Жуковский</li>
<li>Зарайский район</li>
<li>Звёздный городок</li>
<li>Звенигород</li>
<li>Ивантеевка</li>
<li>Истринский район</li>
<li>Каширский район</li>
<li>Климовск</li>
<li>Клинский район</li>
<li>Коломенский район</li>
<li>Коломна</li>
<li>Королёв</li>
<li>Котельники</li>
<li>Красноармейск</li>
<li>Красногорский район</li>
<li>Краснознаменск</li>
<li>Ленинский район</li>
<li>Лобня</li>
<li>Лосино-Петровский</li>
<li>Лотошинский район</li>
<li>Луховицкий район</li>
<li>Лыткарино</li>
</ul>
</div>
<img alt="Районы обслуживания" src="/d/mo_rajony.png">
<div class="land_map-list">
<ul>
<li>Люберецкий район</li>
<li>Можайский район</li>
<li>Молодёжный</li>
<li>Мытищинский район</li>
<li>Наро-Фоминский район</li>
<li>Ногинский район</li>
<li>Одинцовский район</li>
<li>Озёрский район</li>
<li>Орехово-Зуево</li>
<li>Орехово-Зуевский район</li>
<li>Павлово-Посадский район</li>
<li>Подольск</li>
<li>Подольский район</li>
<li>Протвино</li>
<li>Пушкинский район</li>
<li>Пущино</li>
<li>Раменский район</li>
<li>Реутов</li>
<li>Рошаль</li>
<li>Рузский район</li>
<li>Сергиево-Посадский район</li>
<li>Серебряно-Прудский район</li>
<li>Серпухов</li>
<li>Серпуховский район</li>
<li>Солнечногорский район</li>
<li>Ступинский район</li>
<li>Талдомский район</li>
<li>Фрязино</li>
<li>Химки</li>
<li>Черноголовка</li>
<li>Чеховский район</li>
<li>Шатурский район</li>
<li>Шаховской район</li>
<li>Щёлковский район</li>
<li>Электрогорск</li>
<li>Электросталь</li>
</ul>
</div>
</div>
</div>
</section>
</main>


</article>
  </div>
</div>






<div id="consult-form"></div>
<div id="consult-sh" class="editorElement layer-type-block ui-droppable block-44 formdog" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/thumb/2/j3dOP2TYtpRwro1trWez0g/r/d/54555800.jpg) left 50% top 50% / auto auto no-repeat fixed">
<div class="editorElement layer-type-block ui-droppable block-45">
 



<div class="form-114 widget-171 horizontal_mode widget-type-form_adaptive editorElement layer-type-widget">
<div class="form__header"><div class="align-elem">Получить консультацию инженера</div></div>									<div class="form__text"><div class="align-elem">Мы перезвоним Вам сейчас!</div></div>
      <div class="form__body" data-api-type="form" data-api-url="/my/s3/xapi/public/?method=form/postform&amp;param[form_id]=43233104">
  <form method="post">
<input type="hidden" name="_form_item" value="114">
<input type="hidden" name="form_id" value="43233104">
<input type="hidden" name="tpl" value="db:bottom.tpl">
          <div class="form-table">
    <div class="form-tbody">
                      <div class="form-item-group group-text">
          <div class="form-item form-text field_175086504"><label class="form-item__body"><input class="wm-input-default" placeholder="* Ваше имя: " type="text" size="1" maxlength="100" value="" name="d[0]field_175086504" id="d[0]field_175086504" required=""></label></div><div class="form-item form-text phone"><label class="form-item__body"><span class="icon img_phone"></span><input class="wm-input-default" placeholder="* Телефон: " type="text" size="1" maxlength="100" value="" name="d[1]phone" id="d[1]phone" required=""></label></div><div class="form-item form-text field_175086904"><label class="form-item__body"><input class="wm-input-default" placeholder=" Район МО: " type="text" size="1" maxlength="100" value="" name="d[2]field_175086904" id="d[2]field_175086904"></label></div><div class="form-item form-checkbox field_177641504"><div class="form-item__body"><input type="checkbox" id="d[3]field_177641504" name="d[3]field_177641504"><label for="d[3]field_177641504" class="form-item__title">Согласен(на) на обработку&nbsp;<a href="/user/agreement">персональных данных</a>: <span class="form-item__required">*</span></label></div></div>
        </div>
                                </div>
                  <div class="form-tfoot">
        <div class="form-item-group group-button">
                              <div class="form-submit"><div class="form-item__body"><button class="wm-input-default" type="submit"><span class="align-elem">Отправить</span></button></div></div>
                          </div>
      </div>
              </div>
  <span class="form-item__title agreement" style="margin-top:15px;">✔ <a href="/user/agreement"> Ознакомлен с пользовательским соглашением</a></span>
      <textarea name="g-recaptcha-response" style="display: none !important;"></textarea></form>
</div>
</div>

</div>
</div>


<div class="editorElement layer-type-block ui-droppable block-41">	<div class="widget-170 map-111 widget-type-map editorElement layer-type-widget" data-controls="searchControl" id="widgetMap111" data-center="55.709378, 37.591297" data-zoom="11" data-type="yandex#map" style="">

<input type="hidden" name="widgetMap111" value="[{&quot;preset&quot; : &quot;islands#lightblueStretchyIcon&quot;,&quot;point&quot;: &quot;55.709378, 37.591297&quot;, &quot;iconContent&quot;: &quot;119071, \u041c\u043e\u0441\u043a\u0432\u0430, \u0443\u043b. \u041e\u0440\u0434\u0436\u043e\u043d\u0438\u043a\u0438\u0434\u0437\u0435, 13&quot;, &quot;balloonContent&quot;: null}]">

<ymaps class="ymaps-2-1-79-map" style="width: 1860px; height: 540px;"><ymaps class="ymaps-2-1-79-map ymaps-2-1-79-i-ua_js_yes ymaps-2-1-79-map-bg ymaps-2-1-79-islets_map-lang-ru" style="width: 1860px; height: 540px; z-index: 0;"><ymaps class="ymaps-2-1-79-inner-panes"><ymaps class="ymaps-2-1-79-events-pane ymaps-2-1-79-user-selection-none" unselectable="on" style="height: 100%; width: 100%; top: 0px; left: 0px; position: absolute; z-index: 2500; cursor: url(&quot;https://api-maps.yandex.ru/2.1.79/build/release/images/cursor/grab.cur&quot;) 16 16, url(&quot;https://api-maps.yandex.ru/2.1.79/build/release/images/cursor/grab.cur&quot;), move;"></ymaps><ymaps class="ymaps-2-1-79-ground-pane" style="top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px) scale(1, 1); z-index: 501;"><ymaps style="z-index: 150; position: absolute;"><canvas style="position: absolute; width: 2116px; height: 796px; left: -128px; top: -128px;" height="796" width="2116"></canvas></ymaps></ymaps><ymaps class="ymaps-2-1-79-copyrights-pane" style="height: 0px; inset: auto 0px 0px; position: absolute; z-index: 5002;"><ymaps><ymaps class="ymaps-2-1-79-copyright ymaps-2-1-79-copyright_logo_no" style=""><ymaps class="ymaps-2-1-79-copyright__fog">…</ymaps><ymaps class="ymaps-2-1-79-copyright__wrap"><ymaps class="ymaps-2-1-79-copyright__layout"><ymaps class="ymaps-2-1-79-copyright__content-cell"><ymaps class="ymaps-2-1-79-copyright__content"><ymaps class="ymaps-2-1-79-copyright__text">© Яндекс</ymaps><ymaps class="ymaps-2-1-79-copyright__agreement">&nbsp;<a class="ymaps-2-1-79-copyright__link" target="_blank" href="https://yandex.ru/legal/maps_termsofuse/?lang=ru" rel="noopener">Условия использования</a></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-copyright__logo-cell"><a class="ymaps-2-1-79-copyright__logo" href="" target="_blank"></a></ymaps></ymaps></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-map-copyrights-promo"><ymaps><ymaps class="ymaps-2-1-79-gotoymaps" title="Как добраться"><ymaps class="ymaps-2-1-79-gotoymaps__container"><ymaps class="ymaps-2-1-79-gotoymaps__pin"></ymaps><ymaps class="ymaps-2-1-79-gotoymaps__text-container"><ymaps class="ymaps-2-1-79-gotoymaps__text">Как добраться</ymaps></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-gototaxi" title="Доехать на такси" style=""><ymaps class="ymaps-2-1-79-gototaxi__container"><ymaps class="ymaps-2-1-79-gototaxi__pin"></ymaps><ymaps class="ymaps-2-1-79-gototaxi__text-container"><ymaps class="ymaps-2-1-79-gototaxi__text">Доехать на такси</ymaps></ymaps></ymaps></ymaps><a class="ymaps-2-1-79-gototech" target="_blank" href="https://tech.yandex.ru/maps/mapsapi/?from=api-maps ">Создать свою карту</a></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-controls-pane" style="width: 100%; top: 0px; left: 0px; position: absolute; z-index: 4503;"><ymaps class="ymaps-2-1-79-controls__toolbar" style="margin-top: 10px;"><ymaps class="ymaps-2-1-79-controls__toolbar_left"><ymaps style="margin-right: 0px; margin-left: 10px; position: inherit;" class="ymaps-2-1-79-controls__control_toolbar"><ymaps><ymaps class="ymaps-2-1-79-searchbox"><ymaps id="id_168279134105353183868"><ymaps><ymaps class="ymaps-2-1-79-search ymaps-2-1-79-search_layout_normal ymaps-2-1-79-searchbox__normal-layout"><ymaps id="id_168279134105353183869"><ymaps><ymaps class="ymaps-2-1-79-searchbox__input-cell"><ymaps class="ymaps-2-1-79-searchbox-input"><input class="ymaps-2-1-79-searchbox-input__input" placeholder="Адрес или объект" autocomplete="off"><ymaps class="ymaps-2-1-79-searchbox-input__clear-button"></ymaps></ymaps><ymaps class="ymaps-2-1-79-searchbox-list-button"></ymaps></ymaps><ymaps class="ymaps-2-1-79-searchbox__button-cell"><ymaps class="ymaps-2-1-79-searchbox-button ymaps-2-1-79-_pin_right ymaps-2-1-79-user-selection-none" unselectable="on"><ymaps class="ymaps-2-1-79-searchbox-button-text">Найти</ymaps></ymaps></ymaps></ymaps></ymaps><ymaps id="id_168279134105353183870"><ymaps><ymaps class="ymaps-2-1-79-islets_serp-popup ymaps-2-1-79-islets__hidden"><ymaps class="ymaps-2-1-79-islets_serp-popup__tail"></ymaps><ymaps class="ymaps-2-1-79-islets_serp" style="max-height: 8786.89px;"><ymaps id="id_168279134105353183871"><ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps><ymaps style="z-index: 40000; display: block; position: absolute; width: 252px; top: 29px; left: 10px;"></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-controls__toolbar_right"></ymaps></ymaps><ymaps class="ymaps-2-1-79-controls__bottom" style="top: 540px;"></ymaps></ymaps><ymaps class="ymaps-2-1-79-places-pane" style="top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px) scale(1, 1); z-index: 2004;"><ymaps class="ymaps-2-1-79-placemark-overlay ymaps-2-1-79-user-selection-none" unselectable="on" style="z-index: 650; height: 0px; width: 0px; position: absolute; left: 930px; top: 270px;"><ymaps><ymaps class="ymaps-2-1-79-placemark ymaps-2-1-79-placemark_state_active ymaps-2-1-79-placemark_theme_lightblue" style="opacity: 1;"><ymaps class="ymaps-2-1-79-placemark__l ymaps-2-1-79-placemark_theme_lightblue"></ymaps><ymaps class="ymaps-2-1-79-placemark__r ymaps-2-1-79-placemark_theme_lightblue"></ymaps><ymaps class="ymaps-2-1-79-placemark__content"><ymaps class="ymaps-2-1-79-placemark__content-inner"><ymaps id="id_168279134105353183873" class="" style=""><ymaps>119071, Москва, ул. Орджоникидзе, 13</ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></div>	<div class="editorElement layer-type-block ui-droppable block-42">
<div class="editorElement layer-type-block ui-droppable block-43">
    <div class="address-106 widget-165 address-block contacts-block widget-type-contacts_address editorElement layer-type-widget">
<div class="inner">
    <label class="cell-icon" for="tg106">
        <div class="icon"></div>
    </label>
    <input id="tg106" class="tgl-but" type="checkbox">
    <div class="block-body-drop">
        <div class="cell-text">
            <div class="title"><div class="align-elem">Контакты</div></div>
            <div class="text_body">
                <div class="align-elem">РАБОТАЕМ КРУГЛОСУТОЧНО<br>
по Москве и Московской области</div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="phones-107 widget-166 phones-block contacts-block widget-type-contacts_phone editorElement layer-type-widget">
<div class="inner">
<label class="cell-icon" for="tg-phones-107">
<div class="icon"></div>
</label>
<input id="tg-phones-107" class="tgl-but" type="checkbox">
<div class="block-body-drop">
<div class="cell-text">
  <div class="title"><div class="align-elem">Телефон:</div></div>
  <div class="text_body">
    <div class="align-elem">
                      <div><a href="tel:+7 (495) 181-18-41">+7 (495) 181-18-41</a></div>														
    </div><a href="tel:"></a><a href="https://wa.me/+79252023401" class="soc" target="_blank" style="margin: 0 10px;"><span class="wg-soc-icon"><img src="/d/whatsapp2.png" alt="whatsapp"></span></a><a href="https://t.me/teploservice_ovk" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/telegram2.png" alt="telegram"></span></a>
  </div>
</div>
</div>
</div>
</div>
<a class="button-108 widget-167 widget-type-button editorElement layer-type-widget" href="#" data-api-type="popup-form" data-api-url="/my/s3/xapi/public/?method=form/postform&amp;param[form_id]=23681661&amp;param[tpl]=wm.form.popup.tpl&amp;placeholder=placeholder&amp;tit_en=1&amp;sh_err_msg=0&amp;ic_en=0&amp;u_s=/user" data-wr-class="popover-wrap-108"><span>Перезвоните мне</span></a>
<div class="email-109 widget-168 email-block contacts-block widget-type-contacts_email editorElement layer-type-widget">
<div class="inner">
<label class="cell-icon" for="tg-email-109">
<div class="icon"></div>
</label>
<input id="tg-email-109" class="tgl-but" type="checkbox">
<div class="block-body-drop">
<div class="cell-text">
  <div class="title"><div class="align-elem">Email:</div></div>
  <div class="text_body">
    <div class="align-elem"><a href="mailto:info@teploservice-ovk.ru">info@teploservice-ovk.ru</a></div>
  </div>
</div>
</div>
</div>
</div>

<div class="widget-169 widgetsocial-110 widget-type-social_links editorElement layer-type-widget">
 <div class="soc-content">  <div class="soc-item" style="margin-right: 12px; margin-left: 9px;"><a href="https://wa.me/+79252023401" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/whatsapp3.png" alt="whatsapp"></span></a></div><div class="soc-item"><a href="https://t.me/teploservice_ovk" class="soc" target="_blank"><span class="wg-soc-icon"><img src="/d/telegram3.png" alt="telegram"></span></a></div></div>
</div>
</div>
</div>

<div class="editorElement layer-type-block ui-droppable block-27">
<div class="editorElement layer-type-block ui-droppable block-29">
<div class="layout layout_center not-columned layout_83_id_82">
            <div class="up-82 widget-52 up_button widget-type-button_up editorElement layer-type-widget" data-speed="900">
<div class="icon"></div>
</div>          
</div>
</div>		<div class="editorElement layer-type-block ui-droppable block-28">
<div class="layout column layout_78">
<div class="site-copyright widget-49 widget-type-site_copyright editorElement layer-type-widget">
 
<div class="align-elem">
     Copyright © 2018 - 2023					<br>
   
</div>
 
</div>
</div>
<div class="layout column layout_79">
<div class="site-counters widget-50 widget-type-site_counters editorElement layer-type-widget">
 

</div>
</div>
<div class="layout column layout_80">
<div class="mega-copyright widget-51 widget-type-mega_copyright editorElement layer-type-widget">
<span style="font-size:10px;" class="copyright"><!--noindex--><span style="text-decoration:underline; cursor: pointer;" onclick="javascript:window.open('https://megagr'+'oup.ru/?utm_referrer='+location.hostname)" class="copyright"><img src="/g/mlogo/svg/megagroup-ru-megagroup-ru-light.svg"></span><!--/noindex-->
</span>
</div>
</div>
</div></div>
</div>

<div class="heating-overlay hidden"></div>
<div class="heating-popup hidden">
<p class="popup__close">×</p>
<div class="heating-popup__form">	
        <p>Оставьте заявку, чтобы получить консультацию</p>
           



<div class="form-114 widget-171">
              <div class="form__body" data-api-type="form" data-api-url="/my/s3/xapi/public/?method=form/postform&amp;param[form_id]=45492306">
  <form method="post">
<input type="hidden" name="_form_item" value="">
<input type="hidden" name="form_id" value="45492306">
<input type="hidden" name="tpl" value="db:wm.form.adaptive2.tpl">
          <div class="form-table">
    <div class="form-tbody">
          <div class="form-item form-text field_188260506"><div class="form-item__body"><input class="wm-input-default" placeholder="* Ваше имя: " type="text" size="1" maxlength="100" value="" name="d[0]" id="d[0]" required=""></div></div><div class="form-item form-text phone"><div class="form-item__body"><input class="wm-input-default" placeholder="* Телефон: " type="text" size="1" maxlength="100" value="" name="d[1]" id="d[1]" required=""></div></div><div class="form-item form-html field_188260906"><div class="form-item__body"><div class="form-item__body">Отправляя заявку, Вы даете согласие на обработку&nbsp;<a href="/user/agreement" target="_blank">персональных данных</a></div></div></div>
        
          
    </div>
                  <div class="form-tfoot">
        <div class="form-item-group group-button">
                              <div class="form-submit"><div class="form-item__body"><button class="wm-input-default" type="submit"><span class="align-elem">Отправить</span></button></div></div>
                          </div>
      </div>
              </div>
  <span class="form-item__title agreement" style="margin-top:15px;">✔ <a href="Array/agreement"> Ознакомлен с пользовательским соглашением</a></span>
      <textarea name="g-recaptcha-response" style="display: none !important;"></textarea></form>
</div>
</div>

        </div>
</div>



<div id="jivo-iframe-container" style="opacity: 0; visibility: hidden; width: 0px; height: 0px; overflow: hidden;"><iframe src="" role="presentation" allow="autoplay" title="Jivochat" name="jivo_container" id="jivo_container" frameborder="no"></iframe></div><jdiv><jdiv class="globalClass_cbfb"><jdiv style="animation: 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s 1 normal both running Label_CLOSE_WIDGET_f101; display: block; z-index: 2147483646; position: fixed;"><jdiv class="label_b0be _bottom_f531 __show_b734 notranslate" translate="no" id="jvlabelWrap" style="right: 30px; bottom: 0px; background: linear-gradient(95deg, rgb(58, 137, 232) 20%, rgb(58, 137, 232) 80%);"><jdiv class="labelStatus_c3d9" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200h20v20H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20stroke%3D%22%23222222%22%20stroke-width%3D%221.5%22%20d%3D%22M3%203h14a2%202%200%200%201%202%202v10a2%202%200%200%201-2%202H3a2%202%200%200%201-2-2V5a2%202%200%200%201%202-2z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20stroke%3D%22%23222222%22%20stroke-width%3D%221.5%22%20d%3D%22M16.074%207.064l-6.01%204.01-6.01-4.01%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A&quot;);"></jdiv><jdiv class="hoverl_e3b1"><jdiv class="omnichannel_b956 bottom_e3b3"><jdiv class="root_cafe __lgRadius_b507" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 17px 1px, rgba(0, 0, 0, 0.16) 0px 0px 4px; width: 280px; transform: translate(0px, calc(-100% - 16px));"><jdiv class="menuWrapper_e875 desktop_f21c"><jdiv class="menu_a52a"><a href="https://t.me/AlipsoBot" target="_blank" rel="nofollow noopener noreferrer" class="link_ff2a item_f03c"><jdiv class="desktop_b3f4"><jdiv class="icon_c124 telegramIcon_b7a2" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2012C0%205.373%205.373%200%2012%200s12%205.373%2012%2012-5.373%2012-12%2012S0%2018.627%200%2012Z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M24%2012c0%206.627-5.373%2012-12%2012S0%2018.627%200%2012%205.373%200%2012%200s12%205.373%2012%2012ZM12.43%208.859c-1.167.485-3.5%201.49-6.998%203.014-.568.226-.866.447-.893.663-.046.366.412.51%201.034.705.085.027.173.054.263.084.613.199%201.437.432%201.865.441.389.008.823-.152%201.302-.48%203.268-2.207%204.955-3.322%205.061-3.346.075-.017.179-.039.249.024.07.062.063.18.056.212-.046.193-1.84%201.862-2.77%202.726-.29.269-.495.46-.537.504-.094.097-.19.19-.282.279-.57.548-.996.96.024%201.632.49.323.882.59%201.273.856.427.291.853.581%201.405.943.14.092.274.187.405.28.497.355.944.673%201.496.623.32-.03.652-.331.82-1.23.397-2.126%201.179-6.73%201.36-8.628a2.112%202.112%200%200%200-.02-.472.506.506%200%200%200-.172-.325c-.143-.117-.365-.142-.465-.14-.451.008-1.143.249-4.476%201.635Z%22%20fill%3D%22%2354A6E4%22%2F%3E%3C%2Fsvg%3E&quot;);"></jdiv><jdiv class="title_fc62">Telegram</jdiv></jdiv></a><a href="https://vk.com/im?sel=-136055449" target="_blank" rel="nofollow noopener noreferrer" class="link_ff2a item_f03c"><jdiv class="desktop_b3f4"><jdiv class="icon_c124 vkIcon_ae09" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.243%201.5H8.257C2.797%201.5%201.5%202.797%201.5%208.257v5.986C1.5%2019.703%202.797%2021%208.257%2021h5.986C19.703%2021%2021%2019.703%2021%2014.243V8.257c0-5.46-1.297-6.757-6.757-6.757Zm3.003%2013.913h-1.423c-.537%200-.702-.438-1.648-1.404-.858-.809-1.229-.926-1.433-.926-.283%200-.37.078-.37.487v1.278c0%20.341-.108.555-1.015.555-1.501%200-3.168-.916-4.338-2.603-1.765-2.476-2.243-4.348-2.243-4.719%200-.204.068-.4.478-.4h1.433c.36%200%20.497.157.634.546.702%202.048%201.872%203.803%202.35%203.803.185%200%20.263-.088.263-.536V9.398c-.049-.956-.566-1.044-.566-1.385%200-.175.137-.332.361-.332h2.233c.302%200%20.41.157.41.527v2.818c0%20.302.126.41.223.41.176%200%20.332-.108.654-.44%201.024-1.14%201.755-2.905%201.755-2.905.097-.205.253-.4.633-.4h1.395c.429%200%20.526.224.429.527-.176.829-1.911%203.276-1.892%203.276-.156.244-.214.35%200%20.633.146.205.644.634.975%201.014.605.693%201.073%201.268%201.2%201.668.107.4-.088.604-.498.604Z%22%20fill%3D%22%232787F5%22%2F%3E%3C%2Fsvg%3E&quot;);"></jdiv><jdiv class="title_fc62">Сообщение ВКонтакте</jdiv></jdiv></a><jdiv class="item_f03c"><jdiv class="desktop_b3f4"><jdiv class="icon_c124" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12%2017.86c4.97%200%209-3.297%209-7.364s-4.03-7.364-9-7.364-9%203.297-9%207.364c0%202.452%201.465%204.624%203.717%205.962-.677%202.418-1.837%204.41-1.837%204.41s3.568-.864%206.327-3.037c.26.019.526.029.793.029Z%22%20fill%3D%22%2318c139%22%2F%3E%3C%2Fsvg%3E&quot;);"></jdiv><jdiv class="title_fc62">Оставить сообщение</jdiv></jdiv></jdiv></jdiv></jdiv></jdiv></jdiv></jdiv><jdiv class="text_b3a1 contentTransitionWrap_ef56 _offline_ce48 _noAd_e30d" style="font-size: 11px; font-family: Helvetica, Arial; font-style: italic; color: rgb(34, 34, 34);">Отправьте нам сообщение</jdiv><jdiv class="leafCont_b646"><jdiv class="leaf_ef18 _bottom_b1dc"><jdiv class="cssLeaf_e998" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2240%22%20viewBox%3D%220%200%2032%2040%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%233A89E8%22%20d%3D%22M0%200h9.02L32%2033.196V40H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%233A89E8%22%20d%3D%22M9%200c3.581.05%2023%205.426%2023%2033.08v.03C18.922%2030.751%209%2019.311%209%205.554V0z%22%20fill-opacity%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%235e5f61%22%20d%3D%22M9%200c3.581.05%2023%205.426%2023%2033.08v.03C18.922%2030.751%209%2019.311%209%205.554V0z%22%20fill-opacity%3D%220.7%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A&quot;);"></jdiv></jdiv></jdiv></jdiv></jdiv><jdiv id="jivo-player" class="player_a5e8"><audio preload="auto" id="jivo-sound-agent_message"><source src="https://code.jivosite.com/sounds/agent_message.mp3" type="audio/mpeg"><source src="https://code.jivosite.com/sounds/agent_message.ogg" type="audio/ogg; codecs=vorbis"><source src="https://code.jivosite.com/sounds/agent_message.wav" type="audio/wav"></audio><audio preload="auto" id="jivo-sound-notification"><source src="https://code.jivosite.com/sounds/notification.mp3" type="audio/mpeg"><source src="https://code.jivosite.com/sounds/notification.ogg" type="audio/ogg; codecs=vorbis"><source src="https://code.jivosite.com/sounds/notification.wav" type="audio/wav"></audio><audio preload="auto" id="jivo-sound-outgoing_message"><source src="https://code.jivosite.com/sounds/outgoing_message.mp3" type="audio/mpeg"><source src="https://code.jivosite.com/sounds/outgoing_message.ogg" type="audio/ogg; codecs=vorbis"><source src="https://code.jivosite.com/sounds/outgoing_message.wav" type="audio/wav"></audio></jdiv><jdiv id="jcont" style="animation: 300ms cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s 1 normal both running WidgetContainer_CLOSE_WIDGET_d654; --jright:30px; --jheight:402px; display: block; position: fixed; --jlabelwidth:300px; --jlabelright:30px;"><jdiv class="wrap_c6c1" dir="ltr" id="jivo_action"><jdiv class="closeButton_a84e" id="jivo_close_button"><jdiv class="closeIcon_afe8" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(2%202)%22%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFF%22%20opacity%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212.75%22%20stroke%3D%22%23222D38%22%20stroke-width%3D%221.5%22%20opacity%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cg%20fill%3D%22%23222D38%22%20opacity%3D%221%22%20transform%3D%22translate(6%206)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221.611%22%20height%3D%2213.9%22%20x%3D%225.435%22%20y%3D%22-.941%22%20rx%3D%22.806%22%20transform%3D%22rotate(45%206.24%206.01)%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221.611%22%20height%3D%2213.9%22%20x%3D%225.435%22%20y%3D%22-.941%22%20rx%3D%22.806%22%20transform%3D%22scale(-1%201)%20rotate(45%200%20-9.058)%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A&quot;);"></jdiv></jdiv></jdiv><jdiv class="contentWrapper_a63f notranslate" translate="no"></jdiv></jdiv><jdiv class="pseudoHeight_dfb8"></jdiv><jdiv class="jivoMouseTrack_e563"></jdiv></jdiv></jdiv><div id="badge-recaptcha" style="visibility: hidden;"><div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;"><div class="grecaptcha-logo"><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfII5wdAAAAAOrOGIH9QR8ALdLPPgn_jOJ5DnXn&amp;co=aHR0cHM6Ly90ZXBsb3NlcnZpY2Utb3ZrLnJ1OjQ0Mw..&amp;hl=ru&amp;type=image&amp;v=4q6CtudrwcI-LSEYlfoEbDXg&amp;theme=light&amp;size=invisible&amp;cb=7rcqjlc91lg3" width="256" height="60" role="presentation" name="a-rwwwwcz2vumx" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><div class="grecaptcha-error"></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
</div>
</template>

<style scoped lang="sass">
.top__banner 
  position: relative
  background: #f3f0f3 url('./assets/images/landpage_bg-otoplenie.jpg') right / contain no-repeat
  @media(max-width: 843px)
    background: unset
.top__banner-wrap 
  max-width: 1270px
  margin: 0 auto
  padding: 80px 0
  display: flex
  flex-wrap: wrap
  gap: 40px
  justify-content: center
  @media(max-width: 870px)
    gap: 10px
</style>
